In [644]:
import calendar
import datetime
from dateutil.relativedelta import relativedelta
from datetime import timedelta
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs

def getFirstAndLastDay(year,month):
    weekDay,monthCountDay = calendar.monthrange(int(year),int(month))
    # 获取当前月份最后一天
    lastDay = datetime.date(year,month,day=monthCountDay)
    # 返回第一天和最后一天
    if lastDay.isoweekday()==6:
        lastDay=lastDay- timedelta(days=1) 
    if lastDay.isoweekday()==7:
        lastDay=lastDay- timedelta(days=2)
    
        
    return lastDay.strftime("%Y%m%d")

In [645]:
def get_etf():
    etf_csv=pd.read_csv('Developed Asia Pacific ETF List (108).csv')
    symbol=etf_csv['Symbol']
    inception=etf_csv['Inception']
    count=0
    real_symbol=[]
    in_s=[]
    for candiate in inception:
        s=datetime.datetime.strptime(candiate, "%d/%m/%Y")
        if s<=datetime.datetime.strptime("31/12/2015", "%d/%m/%Y"):
           # print(s.strftime("%d/%m/%Y"))
            in_s.append(s.strftime("%d/%m/%Y"))
            real_symbol.append(symbol[count])
        count=count+1
    return real_symbol

In [646]:
def get_url(etf):
    url=[]  
    url.append("https://www.moneydj.com/ETF/X/xdjbcd/Basic0003BCD.xdjbcd?etfid="+etf+"&b=2015-12-31&c=2018-12-31")
    return url

In [648]:
# urls=get_etf()
# for url in urls:
#     print(get_url(url))

In [551]:
start_date="2015-12-31"
end_date="2018-12-31"
start = datetime.datetime.strptime(start_date, "%Y-%m-%d") # datetime.strptime(date_string, format) return datetime
stop = datetime.datetime.strptime(end_date, "%Y-%m-%d")

In [552]:
# end_date=[]
# while start<=stop:
#     year=start.strftime('%Y')
#     month=start.strftime('%m')
#     year=int(year)
#     month=int(month)
#     print(getFirstAndLastDay(year,month))
#     end_date.append(getFirstAndLastDay(year,month))
#     start+=relativedelta(months=1)

In [553]:
# end_date=[]

# while start<=stop:
#     beforeday=start
#     start+=timedelta(days=1)
#     nextday=start
#     if (beforeday.year and beforeday.month)!=(nextday.year and nextday.month):
#         print(beforeday)

In [658]:
def get_nav(url):
    res = requests.get(url) 
    doc = bs(res.text, 'lxml')
    data = doc.select_one('p').get_text()
    datas=data.split(' ',1)
    date=datas[0]
    date=date.split(',')
    days=[] #csv裡面的date
    for day in date:
        day=datetime.datetime.strptime(day, "%Y%m%d")
        days.append(day)
    end_day=[] #月底
    for i in range(len(days)-1):
        beforeday=days[i]
        nextday=days[i+1]
        if (beforeday.year and beforeday.month)!=(nextday.year and nextday.month):
            end_day.append(beforeday.strftime("%Y%m%d"))
    end_day.append(days[len(days)-1].strftime("%Y%m%d"))# last day
#     print(end_day[36])
#     print(len(end_day))
    value=datas[1].replace(' ',',')
    value=value.split(',')
    v1=value[0:755]
    index=[]
    nav=[]
    for i in range(0,37):
#         print(end_day[i])
        count=0
        for   cday in date:
            if end_day[i]==cday:
                index.append(count)
                nav.append(v1[count])
            count=count+1
#     print(index)
#     print(nav)
    return end_day,nav

In [662]:
end_day,nav=get_nav("https://www.moneydj.com/ETF/X/xdjbcd/Basic0003BCD.xdjbcd?etfid=EWY&b=2015-12-31&c=2018-12-31")

In [664]:
print(len(end_day),len(nav))

37 37

In [668]:

dict={
        "date":end_day,
        "index":index,
        "nav":nav
}
data=pd.DataFrame(dict)
data

        date  index      nav
0   20151231      0  50.4300
1   20160129     19  47.6800
2   20160229     39  46.5000
3   20160331     61  52.9000
4   20160429     82  52.7600
5   20160531    103  50.1900
6   20160630    125  52.0800
7   20160729    145  55.2100
8   20160831    168  56.9000
9   20160930    189  57.7300
10  20161031    210  55.4700
11  20161130    231  53.7800
12  20161230    252  53.3800
13  20170131    272  57.1700
14  20170228    291  59.1400
15  20170331    314  61.9400
16  20170428    333  62.1600
17  20170531    355  67.6300
18  20170630    377  67.8700
19  20170731    397  69.9000
20  20170831    420  68.1900
21  20170929    440  68.8700
22  20171031    462  74.4100
23  20171130    483  74.9000
24  20171229    503  74.8600
25  20180131    524  78.1700
26  20180228    543  72.9800
27  20180329    564  74.5200
28  20180430    585  76.4300
29  20180531    607  72.4600
30  20180629    628  67.8500
31  20180731    649  66.6400
32  20180831    672  67.6500
33  20180928    691  68.2400
34  20181031    714  58.0900
35  20181130    735  60.4000
36  20181231    754  58.8600

In [652]:
print(v2)

['48.4800', '47.7200', '48.3200', '47.4800', '46.7600', '45.7600', '46.0800', '45.8400', '45.4400', '46.0000', '44.7000', '45.0800', '43.3600', '43.2000', '45.1600', '44.2000', '44.8000', '44.8400', '44.9200', '46.0000', '45.7200', '45.2400', '44.6800', '44.5600', '43.8000', '43.7200', '42.8800', '42.1200', '41.2800', '41.6400', '43.1600', '43.5200', '43.5200', '43.3200', '44.0400', '43.3200', '43.7600', '44.2800', '44.2400', '43.5600', '44.6400', '45.2800', '45.6000', '46.0800', '45.6000', '45.1600', '45.1200', '44.9200', '46.1200', '46.3200', '45.7200', '45.8000', '45.9600', '45.8000', '46.0000', '46.2800', '45.6800', '45.4000', '46.0800', '46.5600', '46.4000', '45.6400', '44.5200', '44.5200', '43.5600', '44.2800', '44.0400', '45.3200', '45.0400', '46.0800', '47.3600', '47.5600', '47.1200', '47.4800', '48.2000', '48.4800', '48.4800', '48.8400', '48.5200', '48.3200', '48.2800', '46.0800', '45.6800', '46.5200', '46.0800', '45.6800', '45.9200', '46.1600', '46.1200', '47.2800', '46.4000', '46.7600', '46.1200', '46.7600', '46.4400', '46.4800', '46.1600', '46.4800', '46.2800', '46.6200', '46.9600', '46.9200', '46.7800', '47.1600', '47.1200', '46.7200', '46.9200', '47.4000', '47.7200', '48.0000', '47.4400', '46.6000', '45.7600', '45.5600', '46.0000', '45.8000', '45.7200', '46.7600', '47.0800', '46.2800', '47.3200', '45.3600', '45.1200', '45.8000', '46.4000', '46.0000', '45.9200', '45.9200', '45.9200', '45.9600', '46.2800', '47.4000', '47.6800', '47.6000', '47.6800', '47.5200', '47.6400', '47.3200', '47.7200', '47.3600', '47.4400', '47.2800', '47.3200', '47.4000', '47.4000', '48.2400', '48.4000', '47.8000', '47.5600', '48.2400', '48.4000', '48.6000', '49.0400', '49.2000', '49.5600', '49.3200', '49.6000', '49.1600', '49.5600', '49.3200', '49.2000', '49.4800', '49.5200', '49.4800', '49.2400', '48.8800', '49.0400', '49.0400', '49.1200', '49.4800', '49.8400', '50.1200', '50.3600', '50.1200', '49.3200', '49.7200', '48.8400', '48.5200', '48.7600', '48.3600', '48.5200', '49.2000', '50.6400', '51.2800', '50.5600', '50.1200', '50.6800', '50.6000', '50.2400', '50.1600', '50.0000', '49.7200', '50.0400', '49.8000', '49.8000', '49.9600', '49.5200', '49.4400', '49.3600', '49.3600', '49.4000', '49.6800', '49.8400', '50.2800', '50.2800', '50.3600', '50.4000', '50.3200', '50.4000', '50.4800', '50.5200', '50.3200', '50.0000', '50.1200', '49.5200', '49.8700', '49.8100', '49.3900', '49.4300', '49.5000', '49.5600', '49.6400', '49.4000', '50.1400', '49.3900', '49.7900', '49.9100', '49.9100', '49.4900', '49.9200', '49.9700', '49.8900', '49.4700', '49.6200', '49.5600', '49.7800', '50.5200', '51.1000', '51.2500', '50.7500', '51.3500', '50.5600', '50.5600', '50.1200', '50.5500', '50.6000', '49.7500', '49.6700', '49.7600', '49.4500', '49.3800', '48.8800', '48.8600', '49.2600', '50.2500', '50.5400', '50.4600', '50.5100', '50.3200', '50.6500', '50.5700', '50.8900', '50.3200', '50.3100', '50.1700', '50.4900', '50.5200', '50.6500', '51.1800', '51.2500', '50.8300', '50.6900', '50.5700', '50.8400', '50.8200', '51.0500', '50.9700', '50.9400', '51.0900', '51.0200', '51.3800', '51.5800', '51.2100', '51.1600', '51.2200', '51.1900', '51.6200', '51.6800', '51.6300', '51.5200', '51.3600', '51.2300', '51.8300', '51.3400', '51.3700', '51.2500', '51.1300', '50.9700', '50.9700', '51.3400', '51.6000', '51.2400', '51.7600', '51.6600', '51.8300', '51.8468', '51.4400', '51.5100', '51.5500', '51.8700', '51.9000', '52.3400', '52.2700', '51.9800', '51.5000', '51.7600', '51.5800', '51.2200', '50.9600', '51.0700', '50.9500', '51.2100', '51.0400', '50.6100', '51.1500', '50.9900', '50.9600', '51.2700', '51.4600', '51.8200', '52.0100', '52.0700', '52.1100', '51.8600', '52.0600', '52.2200', '52.3500', '52.4800', '52.7700', '52.7900', '52.6200', '52.3800', '52.2400', '52.3700', '52.5200', '52.5600', '52.4800', '52.6200', '53.0500', '53.0200', '53.0900', '53.0100', '53.1500', '53.1800', '53.2900', '53.2900', '53.7700', '54.9000', '54.6900', '54.7300', '54.7100', '54.5800', '54.0900', '54.2600', '54.5600', '54.5300', '54.0000', '54.2200', '54.3900', '54.0600', '53.9800', '54.0900', '54.0500', '53.9000', '53.7700', '54.0100', '53.4700', '53.6500', '53.3900', '53.4000', '53.0100', '52.9800', '52.8400', '53.2000', '53.5700', '53.5000', '53.6300', '53.5600', '53.8400', '54.0600', '54.2600', '54.3600', '54.2500', '54.0600', '54.2400', '54.4200', '54.5800', '54.7600', '55.0800', '55.0500', '55.1900', '55.1400', '55.1200', '55.0600', '54.7200', '54.1500', '54.0700', '54.4700', '54.4000', '54.5800', '54.2100', '54.4500', '54.3300', '54.4400', '54.4600', '54.1800', '54.3600', '54.4200', '54.3100', '54.2800', '54.7100', '54.4900', '54.2500', '54.4800', '54.8000', '54.9700', '55.2200', '55.2600', '55.1500', '55.1600', '55.2400', '55.2500', '55.5700', '55.5900', '55.3700', '55.4300', '55.5500', '55.5500', '55.6600', '55.7000', '55.7100', '55.7100', '56.0400', '56.0500', '56.0200', '55.9900', '56.0600', '56.4600', '56.7500', '56.6800', '57.3800', '57.6400', '57.5800', '57.5200', '57.3900', '57.5200', '57.6600', '58.1400', '57.6700', '57.9800', '58.4200', '58.4000', '58.6500', '58.9800', '59.0500', '59.1900', '59.1800', '59.6500', '60.0200', '59.5200', '59.0800', '58.8200', '58.5100', '58.0800', '58.9800', '58.6900', '58.9800', '59.5200', '59.5600', '60.0500', '59.7900', '59.9700', '59.8500', '59.9100', '59.6400', '59.0100', '59.1600', '58.9400', '59.3200', '59.6000', '59.8000', '59.9100', '60.1500', '59.8700', '59.9000', '60.6200', '59.6100', '59.6900', '59.7300', '60.0100', '60.0400', '59.9600', '59.8200', '59.9300', '60.2900', '61.1200', '61.8700', '62.0400', '62.4000', '62.4400', '62.8400', '63.2600', '63.4600', '63.4600', '63.9700', '63.4300', '63.8300', '64.1000', '64.4900', '64.5100', '64.2000', '64.6700', '64.1200', '63.3000', '62.9400', '63.2500', '62.3200', '59.3700', '60.8100', '60.2700', '58.4800', '59.0700', '60.2200', '59.4800', '60.3800', '60.6700', '61.6000', '61.1000', '60.4900', '60.7700', '61.6600', '62.4600', '61.6100', '61.0700', '59.3000', '59.9700', '60.2400', '60.6100', '60.1000', '60.4700', '60.6200', '60.6800', '60.5800', '60.8400', '60.9600', '60.6900', '59.6600', '60.0000', '60.0800', '59.5300', '58.2800', '59.1100', '59.2500', '59.9200', '60.6800', '59.4600', '60.2100', '60.2700', '60.5700', '59.6200', '60.1500', '60.4800', '60.3300', '60.2300', '60.2300', '60.4000', '60.6300', '61.0400', '60.8100', '60.6900', '60.6100', '60.3900', '60.5800', '60.9500', '60.7800', '60.6400', '60.5900', '60.2300', '60.2900', '60.7300', '60.8000', '60.9900', '60.4700', '60.8200', '61.2800', '61.6200', '60.9900', '61.1700', '61.1600', '61.0100', '61.0800', '60.9400', '60.7000', '60.3300', '60.1300', '59.7300', '60.1500', '59.7400', '60.1500', '60.5100', '60.4000', '60.6600', '60.6600', '60.8400', '61.0300', '60.6500', '60.7000', '60.6400', '60.3200', '59.8800', '58.7900', '58.8100', '58.5900', '58.8800', '58.0800', '58.4200', '58.0300', '58.1000', '57.9100', '56.9900', '56.9200', '56.8300', '57.2000', '57.9900', '57.7700', '56.9700', '57.0300', '57.5600', '57.5800', '58.0900', '58.0000', '58.0100', '58.1900', '58.4800', '58.7200', '59.1000', '59.2500', '59.4300', '58.9800', '58.5300', '58.9100', '58.5800', '58.5700', '58.1300', '58.6200', '58.5600', '58.3400', '57.5000', '57.1600', '57.3900', '56.6900', '57.0000', '57.1900', '57.4200', '57.4100', '57.6500', '57.4100', '57.6100', '58.4800', '58.3000', '58.5100', '58.1000', '58.2200', '57.5000', '56.8900', '57.0200', '56.6700', '56.8000', '56.9200', '57.0300', '57.4700', '58.1200', '58.1500', '59.5400', '59.7500', '59.9100', '60.0400', '59.7700', '60.2200', '60.5100', '60.3500', '60.2300', '60.6400', '60.5000', '59.9700', '59.1600', '59.1700', '59.4300', '59.0900', '57.6400', '56.6000', '56.7300', '56.5600', '57.6100', '57.5700', '56.5300', '56.6500', '56.3000', '55.6500', '53.8700', '54.6700', '53.9700', '53.4700', '54.3100', '54.8400', '54.7100', '55.0200', '54.8200', '55.4400', '56.0200', '55.6600', '55.1000', '54.3500', '54.1500', '54.3400', '54.6600', '54.7000', '54.4600', '53.4600', '54.2800', '54.0800', '54.8100', '54.7600', '55.4800', '55.2900', '55.3400', '56.0900', '54.0200', '53.9400', '53.5400', '53.1300', '53.0900', '53.7300', '53.5700', '52.9600', '52.5400', '52.2800', '51.5100', '51.2400', '49.6600', '49.1200', '50.0500', '50.7200', '50.7800', '50.6900']

In [559]:
datas=data.split(' ',1)
date=datas[0]
date=date.split(',')
print(date[len(date)-1])
print(len(date))
# for i in date:
#     print(i)

20181231
755

In [579]:
days=[]
for day in date:
    day=datetime.datetime.strptime(day, "%Y%m%d")
    days.append(day)

In [577]:
end_day=[]
for i in range(len(days)-1):
    beforeday=days[i]
    nextday=days[i+1]
    if (beforeday.year and beforeday.month)!=(nextday.year and nextday.month):
        end_day.append(beforeday.strftime("%Y%m%d"))
end_day.append(days[len(days)-1].strftime("%Y%m%d"))
print(end_day[36])
print(len(end_day))

20181231
37

In [597]:
value=datas[1].replace(' ',',')
value=value.split(',')
print(len(value))
v2=value[755:]
v1=value[0:755]
print(v1)
# print(v2)

1510
['49.1200', '48.3200', '48.1900', '47.8500', '47.0200', '46.8700', '47.0100', '45.3400', '46.5000', '45.4200', '45.7400', '45.0600', '43.9500', '42.3600', '44.2800', '44.7900', '43.7900', '44.9800', '44.6500', '45.0700', '46.0600', '46.0100', '45.3400', '45.1700', '44.5600', '45.4200', '43.2000', '42.0200', '43.0100', '40.3700', '43.5200', '42.7800', '44.0000', '43.6800', '43.8400', '43.9300', '44.0500', '44.2100', '43.8600', '43.7800', '43.6000', '45.1800', '46.0100', '46.1000', '45.7200', '45.6700', '44.9900', '45.4200', '45.6100', '46.2400', '46.2200', '45.4900', '46.3900', '45.8300', '45.7400', '46.5300', '45.9500', '45.5900', '46.3300', '46.4900', '46.0900', '45.8600', '44.2800', '44.7300', '43.9100', '44.0700', '45.0900', '45.4000', '45.3200', '45.7600', '46.6600', '48.1000', '47.9300', '46.4000', '47.7100', '47.8700', '48.8100', '48.4600', '48.5500', '48.1000', '47.7200', '47.2800', '47.9700', '46.6700', '46.8100', '46.5100', '46.3000', '46.5300', '46.0800', '46.7600', '46.8900', '46.9500', '46.1600', '46.3900', '46.8400', '46.6600', '46.4100', '46.3800', '46.6200', '45.9800', '46.4200', '46.6800', '46.8600', '47.4700', '47.4400', '46.7600', '47.7200', '47.3200', '47.6300', '48.2500', '47.8200', '47.3800', '46.0100', '45.7600', '46.0000', '45.5600', '45.7800', '46.7600', '47.2800', '46.4900', '46.5900', '44.6300', '45.5100', '45.0000', '45.9700', '45.9200', '46.1800', '46.7700', '46.1900', '45.9600', '45.5000', '46.2900', '46.5700', '47.2700', '47.1800', '47.2700', '47.2400', '47.4900', '47.2800', '47.7900', '47.3800', '47.3600', '47.3100', '47.4100', '47.2400', '48.9000', '48.9500', '48.7900', '47.6100', '48.2000', '47.7700', '48.4800', '49.2100', '49.3800', '49.3500', '49.8600', '49.5600', '49.1500', '49.8300', '49.1000', '49.3300', '49.5300', '49.3500', '49.4900', '49.4100', '48.7700', '49.0300', '48.7300', '49.0500', '49.4500', '49.1300', '50.4200', '50.5400', '50.4100', '49.8200', '49.4200', '49.2800', '48.7600', '48.3300', '48.7500', '48.9700', '49.2200', '51.0300', '50.9800', '50.6800', '50.4200', '50.9300', '50.3600', '50.3900', '49.8200', '49.9100', '49.6600', '49.6400', '49.6700', '49.9500', '49.7400', '49.9400', '49.2200', '49.4700', '49.2000', '49.5500', '49.6900', '50.0000', '50.2000', '50.0700', '49.9300', '50.1500', '50.4000', '50.0700', '50.2500', '50.4700', '50.7000', '50.4200', '50.4600', '49.6600', '49.5500', '49.5100', '47.3200', '49.2100', '49.3400', '49.2500', '49.1800', '49.5700', '49.6800', '49.2500', '49.6400', '49.5800', '48.8700', '49.5100', '49.9800', '49.6800', '49.2300', '49.5300', '49.6200', '48.9900', '49.5300', '50.1600', '50.6500', '50.6700', '50.7500', '51.0600', '51.1200', '49.7300', '50.0500', '50.6300', '50.2200', '49.5800', '49.6100', '49.7200', '49.2900', '49.2900', '49.2000', '49.1100', '48.5300', '50.0000', '50.7900', '50.2700', '50.2800', '50.3300', '50.1000', '50.7500', '50.6400', '50.3500', '50.4100', '49.9900', '50.2600', '50.5300', '50.0900', '50.4800', '50.8100', '50.8300', '51.1500', '50.9200', '50.6800', '50.6000', '50.7500', '50.9600', '50.8700', '51.3400', '50.3900', '51.2400', '51.3200', '50.5200', '50.9100', '51.4100', '51.3800', '51.3800', '51.5700', '51.8700', '51.8000', '51.3600', '51.4600', '51.2000', '51.3200', '51.0600', '51.2500', '51.1400', '50.6600', '50.7200', '51.3200', '51.6000', '51.4900', '51.3900', '52.1600', '52.0600', '52.0900', '52.3000', '51.5400', '51.5400', '52.0300', '51.6700', '52.4100', '52.3800', '51.7900', '51.2500', '51.6000', '51.4300', '51.1400', '50.4900', '50.8600', '50.9900', '51.5200', '51.0800', '50.7900', '51.1200', '51.1500', '50.9800', '50.9400', '51.5100', '51.6300', '51.7300', '52.0300', '52.1600', '51.8100', '52.0200', '52.1400', '52.0500', '51.8700', '51.9100', '53.0000', '52.2200', '52.3600', '52.5700', '52.5900', '52.3900', '52.7900', '53.3000', '52.6700', '52.6300', '53.1300', '52.9800', '52.8800', '53.0800', '53.0900', '53.3000', '53.3400', '53.5900', '54.9200', '54.8000', '54.8800', '54.8900', '54.2500', '54.0300', '54.4400', '54.4100', '54.8500', '53.9100', '54.1400', '54.1700', '53.9700', '53.8500', '53.9100', '54.0000', '53.9300', '53.7700', '53.7800', '53.8500', '53.5500', '53.1700', '53.3700', '53.2700', '52.6400', '52.8200', '53.0400', '53.4500', '53.2700', '53.8300', '53.7400', '54.0300', '54.1000', '54.4400', '54.6200', '54.2800', '53.9300', '53.9000', '54.3200', '54.4400', '54.6100', '55.1400', '55.2100', '55.3200', '54.7700', '55.0500', '54.9300', '54.7300', '55.0100', '55.1200', '54.3700', '54.4400', '54.3000', '54.6600', '54.6500', '54.5400', '54.2200', '54.5600', '54.1000', '54.3100', '54.4100', '54.5500', '54.1400', '54.5700', '54.5400', '54.3800', '54.4100', '54.7800', '54.9000', '55.0600', '55.0900', '55.0700', '54.8600', '54.8800', '54.6200', '55.6900', '55.7600', '55.2900', '55.4000', '55.7100', '55.4100', '55.3400', '55.6400', '55.6400', '55.5300', '55.8900', '55.9200', '55.9100', '56.0100', '56.0700', '56.6300', '56.5600', '56.6400', '57.1200', '57.6100', '57.4700', '57.2300', '57.7000', '57.2500', '57.5800', '57.8100', '57.7700', '57.7000', '58.3200', '58.6100', '58.1800', '58.7100', '59.0900', '58.8800', '58.9000', '59.6900', '60.0400', '59.8600', '59.6000', '58.8500', '58.7700', '57.8600', '58.5700', '58.9400', '58.6100', '58.9600', '59.6100', '59.7900', '59.9000', '59.6000', '59.7200', '59.9000', '59.6200', '59.3400', '59.3900', '58.8100', '59.2200', '59.4000', '59.8500', '59.7300', '59.9400', '60.0100', '59.4600', '60.4800', '59.7000', '59.7400', '59.6400', '59.9000', '59.9000', '59.9700', '59.8400', '59.8900', '60.1600', '60.0300', '61.4600', '61.8000', '61.9300', '62.5500', '63.2900', '63.0900', '62.7500', '63.8100', '63.7100', '63.1600', '63.7400', '63.7300', '64.6400', '64.9400', '64.6300', '64.4600', '64.2000', '63.5800', '62.6100', '63.6000', '62.7900', '61.6200', '59.4800', '59.7400', '60.3200', '59.4600', '59.5400', '59.6000', '59.5200', '60.4500', '61.1500', '61.2700', '60.9000', '60.7400', '61.3900', '61.7700', '62.0200', '61.6400', '60.4400', '60.1800', '59.5200', '60.1500', '59.6900', '59.8900', '59.5900', '60.7700', '61.0100', '60.9700', '61.0700', '60.8100', '60.4000', '59.9300', '59.9800', '60.9400', '59.0000', '59.1200', '60.3200', '59.8800', '59.9100', '60.1400', '59.7500', '59.7700', '59.9500', '59.9200', '60.2000', '60.3900', '60.4600', '59.9200', '60.1600', '60.5200', '60.4000', '61.0200', '60.9600', '60.7900', '60.3800', '60.6800', '60.5300', '60.6500', '60.9500', '60.7500', '60.4900', '60.2400', '60.7500', '60.7100', '60.6700', '60.9000', '60.4100', '60.6600', '61.3500', '61.6100', '61.1600', '60.9800', '61.0100', '61.3300', '60.9900', '60.9800', '61.0700', '60.8200', '60.5600', '60.4900', '59.5700', '60.1200', '59.6600', '60.4800', '60.4200', '60.4200', '60.8600', '60.9200', '60.8000', '60.7800', '60.9600', '60.4500', '60.5900', '59.9800', '58.9600', '59.1600', '59.2000', '58.9800', '58.5900', '58.5600', '58.2800', '58.2100', '58.1300', '57.0100', '57.0600', '56.5900', '57.1700', '57.6800', '57.6100', '57.1200', '56.8300', '57.5300', '57.5400', '57.7500', '57.9500', '57.8700', '58.3000', '58.2600', '58.6600', '58.9600', '59.1900', '59.5700', '59.2800', '58.3400', '58.9200', '58.5800', '58.4700', '58.0600', '58.6300', '58.6900', '58.5100', '57.9500', '56.7400', '57.5800', '57.4100', '57.0100', '57.4800', '57.3900', '57.1400', '57.5700', '57.1200', '57.4600', '58.1900', '58.2600', '58.2400', '58.3200', '58.4500', '57.6700', '57.0800', '57.0200', '56.6500', '56.7500', '57.0100', '56.9200', '57.2400', '57.7400', '57.8200', '58.6300', '59.4900', '59.5000', '59.9500', '59.9500', '60.2700', '60.5700', '59.7800', '60.2300', '60.0900', '60.4900', '59.5600', '59.6800', '59.4100', '59.7400', '58.7300', '59.0200', '57.1600', '57.2300', '56.5000', '56.8000', '57.6800', '57.1600', '56.7700', '56.6500', '55.5500', '55.3300', '53.6900', '54.1500', '53.4700', '54.0300', '55.1200', '54.6300', '55.4000', '54.6900', '55.3000', '55.0200', '55.7700', '55.4600', '55.4500', '54.3000', '54.4800', '54.6700', '54.5600', '54.9800', '54.5300', '54.0500', '54.5300', '54.2300', '54.5400', '54.7400', '55.2500', '55.3300', '56.0400', '55.0400', '54.0800', '54.2800', '53.1600', '52.5600', '53.6800', '53.7700', '53.0700', '53.4100', '52.2000', '52.1000', '51.1500', '50.4800', '50.7600', '48.9500', '50.9900', '50.8800', '51.2000']

In [599]:
index=[]
nav=[]
for i in range(0,37):
    print(end_day[i])
    count=0
    for   cday in date:
        if end_day[i]==cday:
            index.append(count)
            nav.append(v1[count])
        count=count+1
print(index)
print(nav)

20151231
20160129
20160229
20160331
20160429
20160531
20160630
20160729
20160831
20160930
20161031
20161130
20161230
20170131
20170228
20170331
20170428
20170531
20170630
20170731
20170831
20170929
20171031
20171130
20171229
20180131
20180228
20180329
20180430
20180531
20180629
20180731
20180831
20180928
20181031
20181130
20181231
[0, 19, 39, 61, 82, 103, 125, 145, 168, 189, 210, 231, 252, 272, 291, 314, 333, 355, 377, 397, 420, 440, 462, 483, 503, 524, 543, 564, 585, 607, 628, 649, 672, 691, 714, 735, 754]
['49.1200', '45.0700', '43.7800', '45.8600', '47.9700', '47.4700', '45.9200', '48.9000', '49.0500', '49.8200', '50.4700', '49.2300', '49.1100', '50.9200', '51.4600', '51.2500', '51.8100', '53.3400', '53.5500', '54.6100', '54.5700', '55.6400', '58.1800', '59.9000', '59.8900', '62.6100', '61.6400', '59.9100', '60.7500', '60.1200', '58.1300', '58.3400', '58.4500', '60.2300', '55.1200', '55.3300', '51.2000']

In [619]:

dict={
    "date":end_day,
    "index":index,
    "nav":nav
}
data=pd.DataFrame(dict)
data

        date  index      nav
0   20151231      0  49.1200
1   20160129     19  45.0700
2   20160229     39  43.7800
3   20160331     61  45.8600
4   20160429     82  47.9700
5   20160531    103  47.4700
6   20160630    125  45.9200
7   20160729    145  48.9000
8   20160831    168  49.0500
9   20160930    189  49.8200
10  20161031    210  50.4700
11  20161130    231  49.2300
12  20161230    252  49.1100
13  20170131    272  50.9200
14  20170228    291  51.4600
15  20170331    314  51.2500
16  20170428    333  51.8100
17  20170531    355  53.3400
18  20170630    377  53.5500
19  20170731    397  54.6100
20  20170831    420  54.5700
21  20170929    440  55.6400
22  20171031    462  58.1800
23  20171130    483  59.9000
24  20171229    503  59.8900
25  20180131    524  62.6100
26  20180228    543  61.6400
27  20180329    564  59.9100
28  20180430    585  60.7500
29  20180531    607  60.1200
30  20180629    628  58.1300
31  20180731    649  58.3400
32  20180831    672  58.4500
33  20180928    691  60.2300
34  20181031    714  55.1200
35  20181130    735  55.3300
36  20181231    754  51.2000

In [621]:
data.to_csv(r'./nav.csv',index=False,sep=',')