In [2]:
import calendar
import datetime
import time
from dateutil.relativedelta import relativedelta
from datetime import timedelta
import pandas as pd
import numpy as np
import requests
import re
import json
from urllib.parse import unquote 
from bs4 import BeautifulSoup as bs

In [87]:
def get_Value():
    start_date="1980-01-01"
    end_date = datetime.datetime.now()
    start = datetime.datetime.strptime(start_date, "%Y-%m-%d") # datetime.strptime(date_string, format) return datetime
    start = int(time.mktime(start.timetuple()))
    stop = int(time.mktime(end_date.timetuple()))
    url = 'https://tvc4.forexpros.com/eb0fe5256ea1c875037d3f00ef1ee80f/1552822558/1/1/8/history'
    headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.119 Safari/537.36'}
    data ={"symbol":"23693",
               "resolution":"D",
               "from": start,
               "to": stop
              }
    response_data  = requests.get(url,params = data, headers = headers)
    while str(response_data) != "<Response [200]>":
        time.sleep(30)
        response_data  = requests.get(url,params = data)
    response = re.search('("t":.*)',response_data.text).group(1)
    response = response[0:len(response) - 10]
    jsonObj = json.loads("{" + response + "}")
    dict = {}
    date = []
    value = []
    for day in jsonObj["t"]:
        date.append(datetime.datetime.fromtimestamp(day).strftime("%Y-%m-%d"))
    for close in jsonObj["c"]:
        value.append(close)
    dict['date'] = date
    dict['value'] = value
    return dict
#     jsonObj = json.loads(response[4:len(response) - 10])
#     jsonObj = json.loads("{" + response + "}")

In [88]:
dict = {}
dict = get_Value()
data=pd.DataFrame(dict)
data.head(20)

          date  value
0   1980-01-01   7.92
1   1980-01-02   7.92
2   1980-01-03   7.96
3   1980-01-04   7.96
4   1980-01-07   7.97
5   1980-01-08   8.00
6   1980-01-09   8.05
7   1980-01-10   8.10
8   1980-01-11   8.12
9   1980-01-14   8.13
10  1980-01-15   8.13
11  1980-01-16   8.14
12  1980-01-17   8.14
13  1980-01-18   8.15
14  1980-01-21   8.16
15  1980-01-22   8.16
16  1980-01-23   8.10
17  1980-01-24   8.07
18  1980-01-25   8.14
19  1980-01-28   8.16