In [1]:
import pandas as pd
import html5lib
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from tqdm import tqdm

In [123]:
def load_raw():
    dataframes=[]
    for k in tqdm(range(2001,2019)):
        for i in range(1,13):
            df = pd.read_html('./data/'+str(k)+'Y_'+str(i)+'M.xls',encoding='utf-8',header=0)
            dataframes.append(df[0])
    return dataframes

In [124]:
dataframes=load_raw()

100%|██████████| 18/18 [00:37<00:00,  4.28s/it]

In [3]:
df_nans=[]
for df in dataframes:
    df_nan=df[df.isna().any(1)]
    df_nan=df_nan.dropna(axis='columns')
    # 2007/12 2013/12 change
    df_nan.rename(columns={'類型代號':"基金名稱","基金統編":"基金規模","基金規模":"本月定時定額扣款筆數","單位淨值":"本月定時定額扣款人數","本月定時定額扣款筆數":"本月定時定額扣款金額"})
    df_nans.append(df_nan)

In [4]:
df_corrects=[]
df_filter = []
# for df in dataframes:
#     df_correct = df[~df.isna().any(1)]
#     df_corrects.append(df_correct)
for df in tqdm(dataframes):
    df.rename(columns={"基金規模(台幣)":"基金規模","單位淨值(台幣)":"單位淨值","本月定時定額扣款金額(台幣)":"本月定時定額扣款金額"}, inplace=True)
    df_correct = df[~df.isna().any(1)]
    df_filter = []
    for name in df_correct['基金名稱']:
        if ("中國" in name or "俄羅斯" in name or "巴西" in name or "印度" in name or "醫療" in name or "生技" in name) :
            if("中國信託" in name):
                continue
            filter1 = (df_correct['類型代號'] == "AA2")
            filter2 = (df_correct['類型代號'] == "2")
            filter3 = (df_correct['基金名稱'] == name)
            df_filter.append(df_correct[((filter1 | filter2) & filter3)])
    df_corrects.append(pd.concat(df_filter))
df_corrects[0]# 0=2001

100%|██████████| 216/216 [00:24<00:00,  1.86it/s]

   類型代號      基金統編    基金名稱       基金規模  單位淨值  本月定時定額扣款筆數  本月定時定額扣款人數  本月定時定額扣款金額
86    2  97990289  元大中國基金  436898521  6.54           8         8.0     63000.0

In [5]:
def plot_image(id):
    navs=[]
    money=[]
    num=[]
    people=[]
    scales=[]
    id = str(id)
    id = id.zfill(8)
    for i in range(0,2*12):
        try:
            navs.append(df_corrects[i][df_corrects[i]['基金統編']==id]['單位淨值'].values[0])
            money.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款金額'].values[0])
            num.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
            people.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
            scales.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金規模'].values[0])
        except:
            pass
    plt.plot(navs)
    plt.title('Unit net value')
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP value')
    plt.plot(money)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Number of records')
    plt.plot(num)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Number of people')
    plt.plot(people)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Scale')
    plt.plot(scales)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()

## Function of calculating rising or falling

In [6]:
def monthFilter(month, length, data):
    subData = np.array(data[(month - (month % 6)) : (month + (5-(month % 6)) + 1)])
    value=(data[month] - np.mean(subData)) / np.std(subData)
    if(value> 1 or value < -1):
        return value
    else:
        return 0

## This function will get various people,aliveList,variations

In [104]:
def preprocessing():
    id_list = []
    id_temp = []
    aliveList=[]
    uid=[]
    upeople=[]
    peopleChinaList = []
    peopleIndiaList = []
    peopleBrazilList = []
    peopleRussiaList = []
    peopleMedicalList = []
    markMonthChinaList =[]
    markMonthIndiaList = []
    markMonthBrazilList = []
    markMonthRussiaList = []
    markMonthlMedicalList = []
    MonthChinaValue=[]
    MonthIndiaValue=[]
    MonthRussiaValue=[]
    MonthBrazilValue=[]
    for df in df_corrects:
        for filter_id in df['基金統編']:
#             id = str(filter_id)
#             id = id.zfill(8)
            id_temp.append(filter_id)
    id_list = list(set(id_temp))
    for id in id_list:
            isAlive = True
            navs=[]
            money=[]
            num=[]
            people=[]
            scales=[]
            name = ''
            isSaveList = []
            for i in range((17-3)*12 + 4,17*12 + 4):
                try:
                    name = df_corrects[i][df_corrects[i]['基金統編']==id]['基金名稱'].values[0]
                    navs.append(df_corrects[i][df_corrects[i]['基金統編']==id]['單位淨值'].values[0])
                    money.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款金額'].values[0])
                    num.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
                    people.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款人數'].values[0])
                    scales.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金規模'].values[0])
                    if(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款人數'].values[0]) == 0 :
                        isAlive = False
                    if(i == 17*12 + 3 and isAlive):
                        aliveList.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金名稱'].values[0])
                        uid.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金統編'].values[0])
                
                except:
                    isAlive = False
                    navs.append(0)
                    money.append(0)
                    num.append(0)
                    people.append(0)
                    scales.append(0)
                    break
            funding={}
            funding
            if(isAlive):
                for i in range(0, len(people)):
                    if("中國" in name):
                        try:
                            peopleChinaList[i] += people[i]
                        except:
                            peopleChinaList.append(people[i])
                    elif("印度" in name):
                        try:
                            peopleIndiaList[i] += people[i]
                        except:
                            peopleIndiaList.append(people[i])
                    elif("巴西" in name):
                        try:
                            peopleBrazilList[i] += people[i]
                        except:
                            peopleBrazilList.append(people[i])
                    elif("俄羅斯" in name):
                        try:
                            peopleRussiaList[i] += people[i]
                        except:
                            peopleRussiaList.append(people[i])
                    else:
                        try:
                            peopleMedicalList[i] += people[i] 
                        except:
                            peopleMedicalList.append(people[i])
#                 plt.plot(navs)
#                 plt.title(id + 10*' ' +'Unit net value')
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP value')
#                 plt.plot(money)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Number of records')
#                 plt.plot(num)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Number of people')
#                 plt.plot(people)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Scale')
#                 plt.plot(scales)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()

    # Calculate people and value
    
    china={}
    for i in range(0, len(peopleChinaList)):
        value=monthFilter(i, 6, peopleChinaList)
        if value!=0:
            markMonthChinaList.append(i)
            MonthChinaValue.append(value)
    china={
        'Month_Index':markMonthChinaList,
        'Value':MonthChinaValue
    }
    brazil={}
    for i in range(0, len(peopleBrazilList)):
        value=monthFilter(i, 6, peopleBrazilList)
        if value!=0:
            markMonthBrazilList.append(i)
            MonthBrazilValue.append(value)
    brazil={
        'Month_Index':markMonthBrazilList,
        'Value':MonthBrazilValue
    }
    for i in range(0, len(peopleIndiaList)):
        value=monthFilter(i, 6, peopleIndiaList)
        if value!=0:
            markMonthIndiaList.append(i)
            MonthIndiaValue.append(value)
    india={
        'Month_Index':markMonthBrazilList,
        'Value':MonthBrazilValue
    }
    for i in range(0, len(peopleRussiaList)):
        value=monthFilter(i, 6, peopleIndiaList)
        if value!=0:
            markMonthIndiaList.append(i)
            MonthIndiaValue.append(value)
    russia={
        'Month_Index':markMonthRussiaList,
        'Value':MonthRussiaValue
    }
    variation={
        'China':pd.DataFrame(china),
        'Brazil':pd.DataFrame(brazil),
        'India':pd.DataFrame(india),
        'Russia':pd.DataFrame(russia)
    }
    
#     for i in range(0, len(peopleMedicalList)):
#         if(monthFilter(i, 6, peopleMedicalList)):
#             markMonthlMedicalList.append(i)
#     plt.title('SIP Number of people in Medical')
#     plt.plot(peopleMedicalList)
#     plt.ylabel('Value')
#     plt.xlabel('Months')
#     plt.show()
    china_df=pd.DataFrame(china)
    dict={}
    start_date = "2016/04" 
    stop_date="2019/03"
    start=datetime.strptime(start_date,"%Y/%m")
    stop=datetime.strptime(stop_date,"%Y/%m")
    arr_smonth=[]
    while start<=stop:
        arr_smonth.append(start.strftime('%Y/%m')) # Return a string representing the date and time
        start = start +  relativedelta(months=1)
    percentage_c=[]
    percentage_b=[]
    percentage_r=[]
    percentage_i=[]
    for i in range(len(peopleChinaList)):
        total=peopleChinaList[i]+peopleIndiaList[i]+peopleRussiaList[i]+peopleBrazilList[i]
        percentage_c.append((peopleChinaList[i]/total)*100)
        percentage_b.append((peopleBrazilList[i]/total)*100)
        percentage_r.append((peopleRussiaList[i]/total)*100)
        percentage_i.append((peopleIndiaList[i]/total)*100)
        
        
    
    dict={
        'Date':arr_smonth,
        'China':peopleChinaList,
        'India':peopleIndiaList,
        'Russia':peopleRussiaList,
        'Brazil':peopleBrazilList,
        'China%':percentage_c,
        'India%':percentage_i,
        'Russia%':percentage_r,
        'Brazil%':percentage_b
    }
    alive={
        "name":aliveList,
        "uid":uid
    }
    
 
    peopleDF=pd.DataFrame(dict)
    aliveDF=pd.DataFrame(alive)
    return aliveList,aliveDF,variation,peopleDF

In [105]:
aliveList,aliveDF,varation ,people= preprocessing()
varation['China']

   Month_Index     Value
0            0 -1.856616
1            9 -2.054153
2           12  1.923390
3           17 -1.151120
4           20 -1.889533
5           22  1.122276
6           24 -1.470169
7           29  1.457625
8           33 -1.806295

In [106]:
people

,Date,China,India,Russia,Brazil,China%,India%,Russia%,Brazil%
0,2016/04,19451.0,2267.0,2104.0,3244.0,71.865071,8.375822,7.773590,11.985517
1,2016/05,22223.0,2247.0,2058.0,3210.0,74.729303,7.555989,6.920438,10.794270
2,2016/06,22482.0,2231.0,2040.0,3153.0,75.175550,7.460041,6.821374,10.543035
3,2016/07,22306.0,2442.0,1965.0,2971.0,75.144859,8.226654,6.619728,10.008759
4,2016/08,20813.0,2413.0,1881.0,2754.0,74.702990,8.660852,6.751373,9.884785
5,2016/09,21304.0,2360.0,1811.0,2597.0,75.890567,8.406954,6.451268,9.251211
6,2016/10,21493.0,2390.0,1738.0,2490.0,76.457614,8.502010,6.182633,8.857743
7,2016/11,21451.0,2314.0,1710.0,2375.0,77.023339,8.308797,6.140036,8.527828
8,2016/12,20909.0,2231.0,1663.0,2222.0,77.369103,8.255319,6.153562,8.222017
9,2017/01,17905.0,2046.0,1535.0,2062.0,76.036181,8.688636,6.518600,8.756582
10,2017/02,20907.0,2241.0,1565.0,2122.0,77.909447,8.351034,5.831936,7.907583
11,2017/03,20010.0,2170.0,1562.0,2099.0,77.435084,8.397508,6.044658,8.122751
12,2017/04,19725.0,2133.0,1526.0,2079.0,77.465342,8.376861,5.993009,8.164788
13,2017/05,19436.0,2099.0,1479.0,1995.0,77.716022,8.392979,5.913871,7.977128
14,2017/06,19333.0,2095.0,1487.0,1960.0,77.720603,8.422111,5.977889,7.879397
15,2017/07,19496.0,2102.0,1487.0,1903.0,78.021450,8.412038,5.950856,7.615656
16,2017/08,19473.0,2106.0,1474.0,1804.0,78.340105,8.472462,5.929919,7.257513
17,2017/09,19303.0,2093.0,1480.0,1801.0,78.222636,8.481582,5.997488,7.298294
18,2017/10,19040.0,2098.0,1453.0,1808.0,78.035985,8.598713,5.955162,7.410140
19,2017/11,18705.0,2113.0,1462.0,1799.0,77.681797,8.775281,6.071681,7.471241
20,2017/12,15852.0,1869.0,1404.0,1609.0,76.454133,9.014180,6.771486,7.760201
21,2018/01,17443.0,2097.0,1438.0,1778.0,76.652311,9.215152,6.319213,7.813324
22,2018/02,19449.0,2139.0,1447.0,1815.0,78.265594,8.607646,5.822938,7.303823
23,2018/03,18163.0,2102.0,1417.0,1797.0,77.358491,8.952681,6.035180,7.653648
24,2018/04,18314.0,2148.0,1413.0,1812.0,77.316672,9.068265,5.965297,7.649766
25,2018/05,18971.0,2143.0,1419.0,1838.0,77.842518,8.793238,5.822494,7.541750
26,2018/06,19810.0,2225.0,1432.0,1805.0,78.387148,8.804210,5.666350,7.142292
27,2018/07,20429.0,2306.0,1434.0,1777.0,78.736607,8.887690,5.526863,6.848840
28,2018/08,21093.0,2382.0,1432.0,1790.0,79.008877,8.922351,5.363899,6.704873
29,2018/09,21815.0,2476.0,1428.0,1778.0,79.335928,9.004619,5.193294,6.466160
30,2018/10,22991.0,2508.0,1425.0,1792.0,80.063379,8.733807,4.962390,6.240423
31,2018/11,23303.0,2492.0,1412.0,1764.0,80.435608,8.601705,4.873839,6.088847
32,2018/12,21735.0,2379.0,1381.0,1706.0,79.905151,8.746002,5.077019,6.271828
33,2019/01,20914.0,2267.0,1406.0,1692.0,79.584459,8.626660,5.350280,6.438601
34,2019/02,23256.0,2408.0,1398.0,1690.0,80.884808,8.375070,4.862270,5.877852
35,2019/03,23201.0,2324.0,1460.0,1668.0,80.972324,8.110844,5.095452,5.821380

In [107]:
newAliveList = []
for name in aliveList:
    if("新臺幣" in name):
        name = name.replace("新臺幣", "台幣")
    if("新台幣" in name):
        name = name.replace("新台幣", "台幣")
    if("台幣類型" in name):
        name = name.replace("台幣類型", "台幣")
    if("N" in name):
        name = name.replace("N", "N類型")
    if("-N類型" in name):
        name = name.replace("-N類型", "")
        name = name.replace("基金", "基金N類型")
    if("級別" in name):
        if("台幣" in name):
            name = name.replace("台幣級別", "(台幣)")
        if("人民幣" in name):
            name = name.replace("人民幣級別", "(人民幣)")
        if("美元" in name):
            name = name.replace("美元級別", "(美元)")
    if("-" in name):
        name = name.replace("-", "(", 1) + ")"
    if("人民幣類型" in name):
        name = name.replace("類型", "")
    if("兆豐國際中國A股基金(美金)" in name):
        name = name.replace("美金", "美元")
    if("安聯中國策略基金" in name):
        name = name + "(台幣)"
    if("台新中國精選中小基金" in name):
        name = name + "(台幣)"
    if("摩根中國A股基金" in name):
        if("摩根中國A股基金(美元)" in name):
            pass
        else:
            name = name + "(台幣)"
    if("瀚亞中國" in name):
        name = name.replace("中國", "中國A股")
    if("野村新興傘型基金之大俄羅斯基金" in name):
        name = name.replace("野村新興傘型基金之大俄羅斯基金", "野村大俄羅斯基金")
    if("野村雙印傘型基金之印度潛力基金" in name):
        name = name.replace("野村雙印傘型基金之印度潛力基金", "野村印度潛力基金")
    newAliveList.append(name)
# newAliveList

In [108]:
newAliveList

['安聯中國東協基金',
 '野村大俄羅斯基金',
 '瀚亞巴西基金',
 '野村印度潛力基金',
 '兆豐國際中國A股基金(美元)',
 '第一金中國世紀基金(台幣)',
 '德信中國精選成長基金',
 '安聯中國策略基金(台幣)',
 '復華中國新經濟A股基金(台幣)',
 '台新印度基金',
 '野村巴西基金',
 '群益全球關鍵生技基金(台幣)',
 '保德信全球醫療生化基金(台幣)',
 '國泰中國內需增長基金(台幣)',
 '野村中國機會基金',
 '群益中國新機會基金(台幣)',
 '台新中國精選中小基金(台幣)',
 '日盛中國內需動力基金',
 '元大印度基金',
 '摩根中國亮點基金',
 '安聯全球生技趨勢基金(台幣)',
 '兆豐國際中國A股基金(台幣)',
 '野村全球生技醫療基金']

In [25]:
# df_corrects[172][df_corrects[172]['基金名稱'] =='瀚亞巴西基金']['本月定時定額扣款人數']

181    1558.0
Name: 本月定時定額扣款人數, dtype: float64

In [109]:
aliveDF

               name        uid
0          安聯中國東協基金   25680150
1   野村新興傘型基金之大俄羅斯基金   10306992
2            瀚亞巴西基金   25633559
3   野村雙印傘型基金之印度潛力基金   26278374
4    兆豐國際中國A股基金(美金)  38592074B
5     第一金中國世紀基金-新臺幣  25620512A
6        德信中國精選成長基金   25689835
7          安聯中國策略基金   25589337
8   復華中國新經濟A股基金-新臺幣  42303511A
9            台新印度基金   26322646
10           野村巴西基金   25652008
11   群益全球關鍵生技基金-新臺幣  38486708A
12  保德信全球醫療生化基金-新臺幣  14692638A
13   國泰中國內需增長基金台幣級別  26317735A
14         野村中國機會基金   25530596
15    群益中國新機會基金-新臺幣  38524463A
16       台新中國精選中小基金   25691213
17       日盛中國內需動力基金   26323737
18           元大印度基金   25622390
19         摩根中國亮點基金   25627402
20   安聯全球生技趨勢基金-新臺幣  14693593A
21   兆豐國際中國A股基金(台幣)  38592074A
22       野村全球生技醫療基金   48844514

In [142]:
def country_classifier(newAliveList):
    country=dict()
    china_id=[]
    china_n=[]
    india_id=[]
    india_n=[]
    brazil_id=[]
    brazil_n=[]
    russia_id=[]
    russia_n=[]
    for funding,uid in zip(newAliveList['name'],newAliveList['uid']):
        if '中國' in funding:
            china_id.append(uid)
            china_n.append(funding)
        elif '巴西' in funding:
            brazil_id.append(uid)
            brazil_n.append(funding)
        elif '印度' in funding:
            india_id.append(uid)
            india_n.append(funding)
        elif '俄羅斯' in funding:
            russia_id.append(uid)
            russia_n.append(funding)
    country_id={
        'China':china_id,
        'Brazil':brazil_id,
        'India':india_id,
        'Russia':russia_id
    }
    country_n={
        'China':china_n,
        'Brazil':brazil_n,
        'India':india_n,
        'Russia':russia_n
        
    }
    return country_n,country_id

In [143]:
result_n,result_id=country_classifier(aliveDF)

In [144]:
def get_funding(dataframe):
    start_date = "2016/04" 
    stop_date="2019/03"
    start=datetime.strptime(start_date,"%Y/%m")
    stop=datetime.strptime(stop_date,"%Y/%m")
    arr_smonth=[]
    while start<=stop:
        arr_smonth.append(start.strftime('%Y/%m')) 
        start = start +  relativedelta(months=1)
    sip_people={}
    sip_people['Date']=arr_smonth
    for name,item in zip(dataframe['name'],dataframe['uid']):
        arr=[]
        for i in range(14*12+4,17*12+4):
            a=df_corrects[i][df_corrects[i]['基金統編']==item]['本月定時定額扣款人數'].values[0]
            arr.append(a)
        sip_people[item]=arr        
    return pd.DataFrame(sip_people)

In [152]:
result_n['China']

['安聯中國東協基金',
 '兆豐國際中國A股基金(美金)',
 '第一金中國世紀基金-新臺幣',
 '德信中國精選成長基金',
 '安聯中國策略基金',
 '復華中國新經濟A股基金-新臺幣',
 '國泰中國內需增長基金台幣級別',
 '野村中國機會基金',
 '群益中國新機會基金-新臺幣',
 '台新中國精選中小基金',
 '日盛中國內需動力基金',
 '摩根中國亮點基金',
 '兆豐國際中國A股基金(台幣)']

In [149]:
len(result_id['China'])

13

In [156]:
df=get_funding(aliveDF)
df_china=df[result_id['China']]
df_china.columns = [result_n['China']]
df_china

,安聯中國東協基金,兆豐國際中國A股基金(美金),第一金中國世紀基金-新臺幣,德信中國精選成長基金,安聯中國策略基金,復華中國新經濟A股基金-新臺幣,國泰中國內需增長基金台幣級別,野村中國機會基金,群益中國新機會基金-新臺幣,台新中國精選中小基金,日盛中國內需動力基金,摩根中國亮點基金,兆豐國際中國A股基金(台幣)
0,1295.0,15.0,4285.0,30.0,560.0,12.0,3413.0,1540.0,2593.0,176.0,548.0,4013.0,971.0
1,1293.0,14.0,5539.0,31.0,619.0,431.0,3635.0,1558.0,3191.0,183.0,567.0,4164.0,998.0
2,1258.0,12.0,5556.0,27.0,652.0,604.0,3590.0,1503.0,3384.0,179.0,575.0,4126.0,1016.0
3,1215.0,12.0,5523.0,26.0,689.0,643.0,3564.0,1505.0,3322.0,167.0,568.0,4066.0,1006.0
4,964.0,11.0,5377.0,24.0,589.0,643.0,3382.0,1436.0,2749.0,170.0,556.0,3917.0,995.0
5,1233.0,11.0,5200.0,22.0,722.0,662.0,3375.0,1406.0,3101.0,169.0,545.0,3867.0,991.0
6,1245.0,11.0,5233.0,24.0,712.0,704.0,3381.0,1386.0,3241.0,176.0,536.0,3844.0,1000.0
7,1216.0,11.0,5188.0,24.0,696.0,726.0,3363.0,1365.0,3343.0,187.0,533.0,3800.0,999.0
8,1192.0,9.0,4886.0,24.0,689.0,760.0,3269.0,1365.0,3321.0,183.0,525.0,3708.0,978.0
9,1162.0,10.0,4139.0,27.0,645.0,770.0,3166.0,1290.0,2721.0,180.0,494.0,2330.0,971.0
10,1155.0,9.0,5181.0,30.0,630.0,859.0,3288.0,1285.0,3162.0,181.0,515.0,3646.0,966.0
11,1132.0,10.0,4698.0,30.0,612.0,890.0,3175.0,1259.0,3077.0,172.0,511.0,3495.0,949.0
12,1110.0,10.0,4622.0,30.0,590.0,907.0,3153.0,1243.0,2984.0,167.0,498.0,3473.0,938.0
13,1099.0,10.0,4598.0,31.0,585.0,918.0,3069.0,1231.0,2893.0,169.0,488.0,3405.0,940.0
14,1091.0,10.0,4557.0,31.0,588.0,948.0,3016.0,1233.0,2910.0,167.0,498.0,3351.0,933.0
15,1096.0,10.0,4614.0,30.0,583.0,998.0,3057.0,1244.0,2905.0,159.0,493.0,3370.0,937.0
16,1107.0,10.0,4635.0,29.0,588.0,1053.0,3038.0,1235.0,2872.0,162.0,484.0,3324.0,936.0
17,1108.0,10.0,4633.0,30.0,575.0,1067.0,2978.0,1233.0,2796.0,169.0,487.0,3292.0,925.0
18,1098.0,10.0,4521.0,29.0,579.0,1081.0,2981.0,1219.0,2698.0,166.0,463.0,3260.0,935.0
19,1093.0,9.0,4423.0,27.0,553.0,1107.0,2934.0,1220.0,2580.0,161.0,437.0,3220.0,941.0
20,1075.0,9.0,3845.0,26.0,552.0,1063.0,2453.0,1216.0,2077.0,159.0,425.0,2031.0,921.0
21,1070.0,8.0,3896.0,31.0,550.0,1085.0,2883.0,1215.0,2061.0,135.0,415.0,3159.0,935.0
22,1083.0,9.0,5240.0,31.0,544.0,1259.0,2895.0,1223.0,2455.0,162.0,426.0,3185.0,937.0
23,1070.0,9.0,4301.0,31.0,529.0,1296.0,2798.0,1199.0,2350.0,158.0,420.0,3075.0,927.0
24,1065.0,9.0,4269.0,32.0,523.0,1436.0,2909.0,1201.0,2317.0,160.0,398.0,3066.0,929.0
25,1063.0,10.0,4285.0,32.0,529.0,1875.0,3051.0,1222.0,2330.0,157.0,404.0,3060.0,953.0
26,1096.0,11.0,4155.0,31.0,540.0,2428.0,3278.0,1259.0,2405.0,154.0,394.0,3070.0,989.0
27,1111.0,10.0,3982.0,31.0,542.0,2804.0,3530.0,1288.0,2492.0,154.0,396.0,3073.0,1016.0
28,1112.0,11.0,3937.0,30.0,544.0,3175.0,3682.0,1343.0,2526.0,156.0,398.0,3114.0,1065.0
29,1127.0,9.0,3721.0,29.0,551.0,3475.0,4066.0,1423.0,2554.0,158.0,408.0,3178.0,1116.0
30,1134.0,11.0,3613.0,28.0,566.0,3810.0,4590.0,1557.0,2707.0,159.0,410.0,3228.0,1178.0
31,1139.0,14.0,3456.0,29.0,557.0,3963.0,4717.0,1657.0,2762.0,160.0,410.0,3217.0,1222.0
32,1157.0,16.0,527.0,29.0,582.0,4741.0,5067.0,1685.0,2886.0,161.0,409.0,3223.0,1252.0
33,1194.0,16.0,494.0,29.0,605.0,4886.0,5079.0,1746.0,2854.0,160.0,392.0,2144.0,1315.0
34,1251.0,19.0,578.0,28.0,827.0,5274.0,5425.0,1794.0,2826.0,160.0,406.0,3315.0,1353.0
35,1225.0,20.0,493.0,28.0,895.0,5406.0,5365.0,1811.0,2754.0,158.0,395.0,3257.0,1394.0

In [157]:
df_india=df[result_id['India']]
df_india.columns = [result_n['India']]
df_india

   野村雙印傘型基金之印度潛力基金 台新印度基金  元大印度基金
0           1148.0  265.0   854.0
1           1137.0  265.0   845.0
2           1122.0  275.0   834.0
3           1155.0  280.0  1007.0
4           1131.0  286.0   996.0
5           1102.0  285.0   973.0
6           1125.0  289.0   976.0
7           1079.0  276.0   959.0
8           1034.0  268.0   929.0
9           1013.0  268.0   765.0
10          1010.0  264.0   967.0
11           987.0  259.0   924.0
12           967.0  253.0   913.0
13           950.0  250.0   899.0
14           955.0  247.0   893.0
15           942.0  245.0   915.0
16           942.0  242.0   922.0
17           952.0  236.0   905.0
18           959.0  231.0   908.0
19           963.0  226.0   924.0
20           941.0  177.0   751.0
21           944.0  225.0   928.0
22           975.0  224.0   940.0
23           975.0  220.0   907.0
24           986.0  223.0   939.0
25           978.0  220.0   945.0
26          1009.0  226.0   990.0
27          1055.0  227.0  1024.0
28          1106.0  238.0  1038.0
29          1145.0  247.0  1084.0
30          1144.0  256.0  1108.0
31          1129.0  264.0  1099.0
32          1115.0  267.0   997.0
33          1107.0  275.0   885.0
34          1116.0  281.0  1011.0
35          1058.0  274.0   992.0

In [ ]:
df_india=df[result_id['Russia']]
df_india.columns = [result_n['Russia']]
df_india

In [ ]:
pd.set_option('display.max_rows', None)
df2 = pd.read_html("https://www.moneydj.com/funddj/yb/YP302000.djhtm?a=ET003001")
df3 = pd.read_html("https://www.moneydj.com/funddj/yb/yp302000.djhtm?a=ET003002")
df4 = pd.read_html("https://www.moneydj.com/funddj/yb/yp302000.djhtm?a=ET003003")
dfFinal = pd.concat([df2[4], df3[4], df4[4]], axis=0)
dfFinal

In [ ]:
for name in newAliveList:
    filterName = (dfFinal["基金名稱"]["基金名稱"] == name)
    try:
        print(dfFinal[filterName]["報酬率(%)"]["六個月"].values[0])
    except:
        print(name)