In [84]:
import pandas as pd
import html5lib
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from tqdm import tqdm

In [85]:
def load_raw():
    dataframes=[]
    for k in tqdm(range(2001,2019)):
        for i in range(1,13):
            df = pd.read_html('./data/'+str(k)+'Y_'+str(i)+'M.xls',encoding='utf-8',header=0)
            dataframes.append(df[0])
    return dataframes

In [86]:
dataframes=load_raw()

100%|██████████| 18/18 [00:38<00:00,  4.35s/it]

In [87]:
df_nans=[]
for df in dataframes:
    df_nan=df[df.isna().any(1)]
    df_nan=df_nan.dropna(axis='columns')
    # 2007/12 2013/12 change
    df_nan.rename(columns={'類型代號':"基金名稱","基金統編":"基金規模","基金規模":"本月定時定額扣款筆數","單位淨值":"本月定時定額扣款人數","本月定時定額扣款筆數":"本月定時定額扣款金額"})
    df_nans.append(df_nan)

In [88]:
df_corrects=[]
df_filter = []
# for df in dataframes:
#     df_correct = df[~df.isna().any(1)]
#     df_corrects.append(df_correct)
for df in tqdm(dataframes):
    df.rename(columns={"基金規模(台幣)":"基金規模","單位淨值(台幣)":"單位淨值","本月定時定額扣款金額(台幣)":"本月定時定額扣款金額"}, inplace=True)
    df_correct = df[~df.isna().any(1)]
    df_filter = []
    for name in df_correct['基金名稱']:
        if ("中國" in name or "俄羅斯" in name or "巴西" in name or "印度" in name or "醫療" in name or "生技" in name) :
            if("中國信託" in name):
                continue
            filter1 = (df_correct['類型代號'] == "AA2")
            filter2 = (df_correct['類型代號'] == "2")
            filter3 = (df_correct['基金名稱'] == name)
            df_filter.append(df_correct[((filter1 | filter2) & filter3)])
    df_corrects.append(pd.concat(df_filter))
df_corrects[0]# 0=2001

100%|██████████| 216/216 [00:23<00:00,  1.90it/s]

   類型代號      基金統編    基金名稱       基金規模  單位淨值  本月定時定額扣款筆數  本月定時定額扣款人數  本月定時定額扣款金額
86    2  97990289  元大中國基金  436898521  6.54           8         8.0     63000.0

In [89]:
def plot_image(id):
    navs=[]
    money=[]
    num=[]
    people=[]
    scales=[]
    id = str(id)
    id = id.zfill(8)
    for i in range(0,2*12):
        try:
            navs.append(df_corrects[i][df_corrects[i]['基金統編']==id]['單位淨值'].values[0])
            money.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款金額'].values[0])
            num.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
            people.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
            scales.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金規模'].values[0])
        except:
            pass
    plt.plot(navs)
    plt.title('Unit net value')
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP value')
    plt.plot(money)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Number of records')
    plt.plot(num)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Number of people')
    plt.plot(people)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Scale')
    plt.plot(scales)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()

## Function of calculating rising or falling

In [90]:
def monthFilter(month, length, data):
    subData = np.array(data[(month - (month % 6)) : (month + (5-(month % 6)) + 1)])
    value=(data[month] - np.mean(subData)) / np.std(subData)
    if(value> 1 or value < -1):
        return value
    else:
        return 0

## This function will get various people,aliveList,variations

In [91]:
def preprocessing():
    id_list = []
    id_temp = []
    aliveList=[]
    uid=[]
    upeople=[]
    peopleChinaList = []
    peopleIndiaList = []
    peopleBrazilList = []
    peopleRussiaList = []
    peopleMedicalList = []
    markMonthChinaList =[]
    markMonthIndiaList = []
    markMonthBrazilList = []
    markMonthRussiaList = []
    markMonthlMedicalList = []
    MonthChinaValue=[]
    MonthIndiaValue=[]
    MonthRussiaValue=[]
    MonthBrazilValue=[]
    for df in df_corrects:
        for filter_id in df['基金統編']:
#             id = str(filter_id)
#             id = id.zfill(8)
            id_temp.append(filter_id)
    id_list = list(set(id_temp))
    for id in id_list:
            isAlive = True
            navs=[]
            money=[]
            num=[]
            people=[]
            scales=[]
            name = ''
            isSaveList = []
            for i in range((17-3)*12 + 4,17*12 + 4):
                try:
                    name = df_corrects[i][df_corrects[i]['基金統編']==id]['基金名稱'].values[0]
                    navs.append(df_corrects[i][df_corrects[i]['基金統編']==id]['單位淨值'].values[0])
                    money.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款金額'].values[0])
                    num.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
                    people.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款人數'].values[0])
                    scales.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金規模'].values[0])
                    if(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款人數'].values[0]) == 0 :
                        isAlive = False
                    if(i == 17*12 + 3 and isAlive):
                        aliveList.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金名稱'].values[0])
                        uid.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金統編'].values[0])
                
                except:
                    isAlive = False
                    navs.append(0)
                    money.append(0)
                    num.append(0)
                    people.append(0)
                    scales.append(0)
                    break
            funding={}
            funding
            if(isAlive):
                for i in range(0, len(people)):
                    if("中國" in name):
                        try:
                            peopleChinaList[i] += people[i]
                        except:
                            peopleChinaList.append(people[i])
                    elif("印度" in name):
                        try:
                            peopleIndiaList[i] += people[i]
                        except:
                            peopleIndiaList.append(people[i])
                    elif("巴西" in name):
                        try:
                            peopleBrazilList[i] += people[i]
                        except:
                            peopleBrazilList.append(people[i])
                    elif("俄羅斯" in name):
                        try:
                            peopleRussiaList[i] += people[i]
                        except:
                            peopleRussiaList.append(people[i])
                    else:
                        try:
                            peopleMedicalList[i] += people[i] 
                        except:
                            peopleMedicalList.append(people[i])
#                 plt.plot(navs)
#                 plt.title(id + 10*' ' +'Unit net value')
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP value')
#                 plt.plot(money)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Number of records')
#                 plt.plot(num)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Number of people')
#                 plt.plot(people)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Scale')
#                 plt.plot(scales)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()

    # Calculate people and value
    
    china={}
    for i in range(0, len(peopleChinaList)):
        value=monthFilter(i, 6, peopleChinaList)
        if value!=0:
            markMonthChinaList.append(i)
            MonthChinaValue.append(value)
    china={
        'Month_Index':markMonthChinaList,
        'Value':MonthChinaValue
    }
    brazil={}
    for i in range(0, len(peopleBrazilList)):
        value=monthFilter(i, 6, peopleBrazilList)
        if value!=0:
            markMonthBrazilList.append(i)
            MonthBrazilValue.append(value)
    brazil={
        'Month_Index':markMonthBrazilList,
        'Value':MonthBrazilValue
    }
    for i in range(0, len(peopleIndiaList)):
        value=monthFilter(i, 6, peopleIndiaList)
        if value!=0:
            markMonthIndiaList.append(i)
            MonthIndiaValue.append(value)
    india={
        'Month_Index':markMonthBrazilList,
        'Value':MonthBrazilValue
    }
    for i in range(0, len(peopleRussiaList)):
        value=monthFilter(i, 6, peopleIndiaList)
        if value!=0:
            markMonthIndiaList.append(i)
            MonthIndiaValue.append(value)
    russia={
        'Month_Index':markMonthRussiaList,
        'Value':MonthRussiaValue
    }
    variation={
        'China':pd.DataFrame(china),
        'Brazil':pd.DataFrame(brazil),
        'India':pd.DataFrame(india),
        'Russia':pd.DataFrame(russia)
    }
    
#     for i in range(0, len(peopleMedicalList)):
#         if(monthFilter(i, 6, peopleMedicalList)):
#             markMonthlMedicalList.append(i)
#     plt.title('SIP Number of people in Medical')
#     plt.plot(peopleMedicalList)
#     plt.ylabel('Value')
#     plt.xlabel('Months')
#     plt.show()
    china_df=pd.DataFrame(china)
    dict={}
    start_date = "2016/04" 
    stop_date="2019/03"
    start=datetime.strptime(start_date,"%Y/%m")
    stop=datetime.strptime(stop_date,"%Y/%m")
    arr_smonth=[]
    while start<=stop:
        arr_smonth.append(start.strftime('%Y/%m')) # Return a string representing the date and time
        start = start +  relativedelta(months=1)
    percentage_c=[]
    percentage_b=[]
    percentage_r=[]
    percentage_i=[]
    for i in range(len(peopleChinaList)):
        total=peopleChinaList[i]+peopleIndiaList[i]+peopleRussiaList[i]+peopleBrazilList[i]
        percentage_c.append((peopleChinaList[i]/total)*100)
        percentage_b.append((peopleBrazilList[i]/total)*100)
        percentage_r.append((peopleRussiaList[i]/total)*100)
        percentage_i.append((peopleIndiaList[i]/total)*100)
        
        
    
    dict={
        'Date':arr_smonth,
        'China':peopleChinaList,
        'India':peopleIndiaList,
        'Russia':peopleRussiaList,
        'Brazil':peopleBrazilList,
        'China%':percentage_c,
        'India%':percentage_i,
        'Russia%':percentage_r,
        'Brazil%':percentage_b
    }
    alive={
        "name":aliveList,
        "uid":uid
    }
    
 
    peopleDF=pd.DataFrame(dict)
    aliveDF=pd.DataFrame(alive)
    return aliveList,aliveDF,variation,peopleDF

In [92]:
aliveList,aliveDF,varation ,people= preprocessing()
varation['China']

   Month_Index     Value
0            0 -1.856616
1            9 -2.054153
2           12  1.923390
3           17 -1.151120
4           20 -1.889533
5           22  1.122276
6           24 -1.470169
7           29  1.457625
8           33 -1.806295

In [93]:
people

,Date,China,India,Russia,Brazil,China%,India%,Russia%,Brazil%
0,2016/04,19451.0,2267.0,2104.0,3244.0,71.865071,8.375822,7.773590,11.985517
1,2016/05,22223.0,2247.0,2058.0,3210.0,74.729303,7.555989,6.920438,10.794270
2,2016/06,22482.0,2231.0,2040.0,3153.0,75.175550,7.460041,6.821374,10.543035
3,2016/07,22306.0,2442.0,1965.0,2971.0,75.144859,8.226654,6.619728,10.008759
4,2016/08,20813.0,2413.0,1881.0,2754.0,74.702990,8.660852,6.751373,9.884785
5,2016/09,21304.0,2360.0,1811.0,2597.0,75.890567,8.406954,6.451268,9.251211
6,2016/10,21493.0,2390.0,1738.0,2490.0,76.457614,8.502010,6.182633,8.857743
7,2016/11,21451.0,2314.0,1710.0,2375.0,77.023339,8.308797,6.140036,8.527828
8,2016/12,20909.0,2231.0,1663.0,2222.0,77.369103,8.255319,6.153562,8.222017
9,2017/01,17905.0,2046.0,1535.0,2062.0,76.036181,8.688636,6.518600,8.756582
10,2017/02,20907.0,2241.0,1565.0,2122.0,77.909447,8.351034,5.831936,7.907583
11,2017/03,20010.0,2170.0,1562.0,2099.0,77.435084,8.397508,6.044658,8.122751
12,2017/04,19725.0,2133.0,1526.0,2079.0,77.465342,8.376861,5.993009,8.164788
13,2017/05,19436.0,2099.0,1479.0,1995.0,77.716022,8.392979,5.913871,7.977128
14,2017/06,19333.0,2095.0,1487.0,1960.0,77.720603,8.422111,5.977889,7.879397
15,2017/07,19496.0,2102.0,1487.0,1903.0,78.021450,8.412038,5.950856,7.615656
16,2017/08,19473.0,2106.0,1474.0,1804.0,78.340105,8.472462,5.929919,7.257513
17,2017/09,19303.0,2093.0,1480.0,1801.0,78.222636,8.481582,5.997488,7.298294
18,2017/10,19040.0,2098.0,1453.0,1808.0,78.035985,8.598713,5.955162,7.410140
19,2017/11,18705.0,2113.0,1462.0,1799.0,77.681797,8.775281,6.071681,7.471241
20,2017/12,15852.0,1869.0,1404.0,1609.0,76.454133,9.014180,6.771486,7.760201
21,2018/01,17443.0,2097.0,1438.0,1778.0,76.652311,9.215152,6.319213,7.813324
22,2018/02,19449.0,2139.0,1447.0,1815.0,78.265594,8.607646,5.822938,7.303823
23,2018/03,18163.0,2102.0,1417.0,1797.0,77.358491,8.952681,6.035180,7.653648
24,2018/04,18314.0,2148.0,1413.0,1812.0,77.316672,9.068265,5.965297,7.649766
25,2018/05,18971.0,2143.0,1419.0,1838.0,77.842518,8.793238,5.822494,7.541750
26,2018/06,19810.0,2225.0,1432.0,1805.0,78.387148,8.804210,5.666350,7.142292
27,2018/07,20429.0,2306.0,1434.0,1777.0,78.736607,8.887690,5.526863,6.848840
28,2018/08,21093.0,2382.0,1432.0,1790.0,79.008877,8.922351,5.363899,6.704873
29,2018/09,21815.0,2476.0,1428.0,1778.0,79.335928,9.004619,5.193294,6.466160
30,2018/10,22991.0,2508.0,1425.0,1792.0,80.063379,8.733807,4.962390,6.240423
31,2018/11,23303.0,2492.0,1412.0,1764.0,80.435608,8.601705,4.873839,6.088847
32,2018/12,21735.0,2379.0,1381.0,1706.0,79.905151,8.746002,5.077019,6.271828
33,2019/01,20914.0,2267.0,1406.0,1692.0,79.584459,8.626660,5.350280,6.438601
34,2019/02,23256.0,2408.0,1398.0,1690.0,80.884808,8.375070,4.862270,5.877852
35,2019/03,23201.0,2324.0,1460.0,1668.0,80.972324,8.110844,5.095452,5.821380

In [94]:
newAliveList = []
for name in aliveList:
    if("新臺幣" in name):
        name = name.replace("新臺幣", "台幣")
    if("新台幣" in name):
        name = name.replace("新台幣", "台幣")
    if("台幣類型" in name):
        name = name.replace("台幣類型", "台幣")
    if("N" in name):
        name = name.replace("N", "N類型")
    if("-N類型" in name):
        name = name.replace("-N類型", "")
        name = name.replace("基金", "基金N類型")
    if("級別" in name):
        if("台幣" in name):
            name = name.replace("台幣級別", "(台幣)")
        if("人民幣" in name):
            name = name.replace("人民幣級別", "(人民幣)")
        if("美元" in name):
            name = name.replace("美元級別", "(美元)")
    if("-" in name):
        name = name.replace("-", "(", 1) + ")"
    if("人民幣類型" in name):
        name = name.replace("類型", "")
    if("兆豐國際中國A股基金(美金)" in name):
        name = name.replace("美金", "美元")
    if("安聯中國策略基金" in name):
        name = name + "(台幣)"
    if("台新中國精選中小基金" in name):
        name = name + "(台幣)"
    if("摩根中國A股基金" in name):
        if("摩根中國A股基金(美元)" in name):
            pass
        else:
            name = name + "(台幣)"
    if("瀚亞中國" in name):
        name = name.replace("中國", "中國A股")
    if("野村新興傘型基金之大俄羅斯基金" in name):
        name = name.replace("野村新興傘型基金之大俄羅斯基金", "野村大俄羅斯基金")
    if("野村雙印傘型基金之印度潛力基金" in name):
        name = name.replace("野村雙印傘型基金之印度潛力基金", "野村印度潛力基金")
    newAliveList.append(name)
# newAliveList

In [95]:
newAliveList

['安聯中國策略基金(台幣)',
 '群益全球關鍵生技基金(台幣)',
 '野村中國機會基金',
 '瀚亞巴西基金',
 '台新印度基金',
 '復華中國新經濟A股基金(台幣)',
 '安聯全球生技趨勢基金(台幣)',
 '保德信全球醫療生化基金(台幣)',
 '日盛中國內需動力基金',
 '群益中國新機會基金(台幣)',
 '安聯中國東協基金',
 '兆豐國際中國A股基金(台幣)',
 '德信中國精選成長基金',
 '台新中國精選中小基金(台幣)',
 '國泰中國內需增長基金(台幣)',
 '第一金中國世紀基金(台幣)',
 '野村印度潛力基金',
 '兆豐國際中國A股基金(美元)',
 '野村全球生技醫療基金',
 '摩根中國亮點基金',
 '元大印度基金',
 '野村大俄羅斯基金',
 '野村巴西基金']

In [96]:
# df_corrects[172][df_corrects[172]['基金名稱'] =='瀚亞巴西基金']['本月定時定額扣款人數']

In [97]:
aliveDF

               name        uid
0          安聯中國策略基金   25589337
1    群益全球關鍵生技基金-新臺幣  38486708A
2          野村中國機會基金   25530596
3            瀚亞巴西基金   25633559
4            台新印度基金   26322646
5   復華中國新經濟A股基金-新臺幣  42303511A
6    安聯全球生技趨勢基金-新臺幣  14693593A
7   保德信全球醫療生化基金-新臺幣  14692638A
8        日盛中國內需動力基金   26323737
9     群益中國新機會基金-新臺幣  38524463A
10         安聯中國東協基金   25680150
11   兆豐國際中國A股基金(台幣)  38592074A
12       德信中國精選成長基金   25689835
13       台新中國精選中小基金   25691213
14   國泰中國內需增長基金台幣級別  26317735A
15    第一金中國世紀基金-新臺幣  25620512A
16  野村雙印傘型基金之印度潛力基金   26278374
17   兆豐國際中國A股基金(美金)  38592074B
18       野村全球生技醫療基金   48844514
19         摩根中國亮點基金   25627402
20           元大印度基金   25622390
21  野村新興傘型基金之大俄羅斯基金   10306992
22           野村巴西基金   25652008

In [98]:
def country_classifier(newAliveList):
    country=dict()
    china_id=[]
    china_n=[]
    india_id=[]
    india_n=[]
    brazil_id=[]
    brazil_n=[]
    russia_id=[]
    russia_n=[]
    for funding,uid in zip(newAliveList['name'],newAliveList['uid']):
        if '中國' in funding:
            china_id.append(uid)
            china_n.append(funding)
        elif '巴西' in funding:
            brazil_id.append(uid)
            brazil_n.append(funding)
        elif '印度' in funding:
            india_id.append(uid)
            india_n.append(funding)
        elif '俄羅斯' in funding:
            russia_id.append(uid)
            russia_n.append(funding)
    country_id={
        'China':china_id,
        'Brazil':brazil_id,
        'India':india_id,
        'Russia':russia_id
    }
    country_n={
        'China':china_n,
        'Brazil':brazil_n,
        'India':india_n,
        'Russia':russia_n
        
    }
    return country_n,country_id

In [99]:
result_n,result_id=country_classifier(aliveDF)

In [100]:
def get_funding(dataframe):
    start_date = "2016/04" 
    stop_date="2019/03"
    start=datetime.strptime(start_date,"%Y/%m")
    stop=datetime.strptime(stop_date,"%Y/%m")
    arr_smonth=[]
    while start<=stop:
        arr_smonth.append(start.strftime('%Y/%m')) 
        start = start +  relativedelta(months=1)
    sip_people={}
    sip_people['Date']=arr_smonth
    for name,item in zip(dataframe['name'],dataframe['uid']):
        arr=[]
        for i in range(14*12+4,17*12+4):
            a=df_corrects[i][df_corrects[i]['基金統編']==item]['本月定時定額扣款人數'].values[0]
            arr.append(a)
        sip_people[item]=arr        
    return pd.DataFrame(sip_people)

In [101]:
result_n['China']

['安聯中國策略基金',
 '野村中國機會基金',
 '復華中國新經濟A股基金-新臺幣',
 '日盛中國內需動力基金',
 '群益中國新機會基金-新臺幣',
 '安聯中國東協基金',
 '兆豐國際中國A股基金(台幣)',
 '德信中國精選成長基金',
 '台新中國精選中小基金',
 '國泰中國內需增長基金台幣級別',
 '第一金中國世紀基金-新臺幣',
 '兆豐國際中國A股基金(美金)',
 '摩根中國亮點基金']

In [102]:
result_id['China']

['25589337',
 '25530596',
 '42303511A',
 '26323737',
 '38524463A',
 '25680150',
 '38592074A',
 '25689835',
 '25691213',
 '26317735A',
 '25620512A',
 '38592074B',
 '25627402']

In [103]:
def get_moneys(ids):
    sip_moneys={}
    for item in ids:
        sip_money=[]
        for i in range(14*12+4,17*12+4):
                    a=df_corrects[i][df_corrects[i]['基金統編']==item]['本月定時定額扣款金額'].values[0]
                    sip_money.append(a)
                    sip_moneys[item]=sip_money
    return pd.DataFrame(sip_moneys)

In [104]:
def get_people(ids):
    sip_people={}
    for item in ids:
        sip_person=[]
        for i in range(14*12+4,17*12+4):
                    a=df_corrects[i][df_corrects[i]['基金統編']==item]['本月定時定額扣款人數'].values[0]
                    sip_person.append(a)
                    sip_people[item]=sip_person
    return pd.DataFrame(sip_people)

In [106]:
china_sip_people=get_people(result_id['China'])
for item in  result_id['China']:
    china_sip_people[item]= china_sip_people[item]/china_sip_people[item].max()
china_sip_people.columns = result_n['China']
china_sip_people

,安聯中國策略基金,野村中國機會基金,復華中國新經濟A股基金-新臺幣,日盛中國內需動力基金,群益中國新機會基金-新臺幣,安聯中國東協基金,兆豐國際中國A股基金(台幣),德信中國精選成長基金,台新中國精選中小基金,國泰中國內需增長基金台幣級別,第一金中國世紀基金-新臺幣,兆豐國際中國A股基金(美金),摩根中國亮點基金
0,0.625698,0.850359,0.002220,0.953043,0.766253,1.000000,0.696557,0.93750,0.941176,0.629124,0.771238,0.75,0.963737
1,0.691620,0.860298,0.079726,0.986087,0.942967,0.998456,0.715925,0.96875,0.978610,0.670046,0.996940,0.70,1.000000
2,0.728492,0.829928,0.111728,1.000000,1.000000,0.971429,0.728838,0.84375,0.957219,0.661751,1.000000,0.60,0.990874
3,0.769832,0.831033,0.118942,0.987826,0.981678,0.938224,0.721664,0.81250,0.893048,0.656959,0.994060,0.60,0.976465
4,0.658101,0.792932,0.118942,0.966957,0.812352,0.744402,0.713773,0.75000,0.909091,0.623410,0.967783,0.55,0.940682
5,0.806704,0.776367,0.122457,0.947826,0.916371,0.952124,0.710904,0.68750,0.903743,0.622120,0.935925,0.55,0.928674
6,0.795531,0.765323,0.130226,0.932174,0.957742,0.961390,0.717360,0.75000,0.941176,0.623226,0.941865,0.55,0.923151
7,0.777654,0.753727,0.134295,0.926957,0.987884,0.938996,0.716643,0.75000,1.000000,0.619908,0.933765,0.55,0.912584
8,0.769832,0.753727,0.140585,0.913043,0.981383,0.920463,0.701578,0.75000,0.978610,0.602581,0.879410,0.45,0.890490
9,0.720670,0.712314,0.142434,0.859130,0.804078,0.897297,0.696557,0.84375,0.962567,0.583594,0.744960,0.50,0.559558
10,0.703911,0.709553,0.158898,0.895652,0.934397,0.891892,0.692970,0.93750,0.967914,0.606083,0.932505,0.45,0.875600
11,0.683799,0.695196,0.164632,0.888696,0.909279,0.874131,0.680775,0.93750,0.919786,0.585253,0.845572,0.50,0.839337
12,0.659218,0.686361,0.167777,0.866087,0.881797,0.857143,0.672884,0.93750,0.893048,0.581198,0.831893,0.50,0.834054
13,0.653631,0.679735,0.169811,0.848696,0.854905,0.848649,0.674319,0.96875,0.903743,0.565714,0.827574,0.50,0.817723
14,0.656983,0.680839,0.175361,0.866087,0.859929,0.842471,0.669297,0.96875,0.893048,0.555945,0.820194,0.50,0.804755
15,0.651397,0.686913,0.184610,0.857391,0.858452,0.846332,0.672166,0.93750,0.850267,0.563502,0.830454,0.50,0.809318
16,0.656983,0.681944,0.194784,0.841739,0.848700,0.854826,0.671449,0.90625,0.866310,0.560000,0.834233,0.50,0.798271
17,0.642458,0.680839,0.197373,0.846957,0.826241,0.855598,0.663558,0.93750,0.903743,0.548940,0.833873,0.50,0.790586
18,0.646927,0.673109,0.199963,0.805217,0.797281,0.847876,0.670732,0.90625,0.887701,0.549493,0.813715,0.50,0.782901
19,0.617877,0.673661,0.204772,0.760000,0.762411,0.844015,0.675036,0.84375,0.860963,0.540829,0.796076,0.45,0.773295
20,0.616760,0.671452,0.196633,0.739130,0.613771,0.830116,0.660689,0.81250,0.850267,0.452166,0.692045,0.45,0.487752
21,0.614525,0.670900,0.200703,0.721739,0.609043,0.826255,0.670732,0.96875,0.721925,0.531429,0.701224,0.40,0.758646
22,0.607821,0.675318,0.232889,0.740870,0.725473,0.836293,0.672166,0.96875,0.866310,0.533641,0.943125,0.45,0.764890
23,0.591061,0.662065,0.239734,0.730435,0.694444,0.826255,0.664993,0.96875,0.844920,0.515760,0.774118,0.45,0.738473
24,0.584358,0.663170,0.265631,0.692174,0.684693,0.822394,0.666428,1.00000,0.855615,0.536221,0.768359,0.45,0.736311
25,0.591061,0.674765,0.346837,0.702609,0.688534,0.820849,0.683644,1.00000,0.839572,0.562396,0.771238,0.50,0.734870
26,0.603352,0.695196,0.449131,0.685217,0.710697,0.846332,0.709469,0.96875,0.823529,0.604240,0.747840,0.55,0.737272
27,0.605587,0.711209,0.518683,0.688696,0.736407,0.857915,0.728838,0.96875,0.823529,0.650691,0.716703,0.50,0.737992
28,0.607821,0.741579,0.587310,0.692174,0.746454,0.858687,0.763989,0.93750,0.834225,0.678710,0.708603,0.55,0.747839
29,0.615642,0.785754,0.642804,0.709565,0.754728,0.870270,0.800574,0.90625,0.844920,0.749493,0.669726,0.45,0.763208
30,0.632402,0.859746,0.704772,0.713043,0.799941,0.875676,0.845050,0.87500,0.850267,0.846083,0.650288,0.55,0.775216
31,0.622346,0.914964,0.733074,0.713043,0.816194,0.879537,0.876614,0.90625,0.855615,0.869493,0.622030,0.70,0.772574
32,0.650279,0.930425,0.876989,0.711304,0.852837,0.893436,0.898135,0.90625,0.860963,0.934009,0.094852,0.80,0.774015
33,0.675978,0.964108,0.903811,0.681739,0.843381,0.922008,0.943329,0.90625,0.855615,0.936221,0.088913,0.80,0.514890
34,0.924022,0.990613,0.975583,0.706087,0.835106,0.966023,0.970588,0.87500,0.855615,1.000000,0.104032,0.95,0.796110
35,1.000000,1.000000,1.000000,0.686957,0.813830,0.945946,1.000000,0.87500,0.844920,0.988940,0.088733,1.00,0.782181

In [108]:
brazil_sip_people=get_people(result_id['Brazil'])
for item in  result_id['Brazil']:
    brazil_sip_people[item]= brazil_sip_people[item]/brazil_sip_people[item].max()
brazil_sip_people.columns = result_n['Brazil']
brazil_sip_people

      瀚亞巴西基金    野村巴西基金
0   1.000000  1.000000
1   0.983312  0.995255
2   0.961489  0.981613
3   0.901155  0.929419
4   0.830552  0.865955
5   0.788190  0.811981
6   0.747754  0.785884
7   0.710526  0.752076
8   0.654685  0.712930
9   0.609756  0.659549
10  0.620668  0.685053
11  0.602696  0.688019
12  0.594994  0.683274
13  0.575738  0.651246
14  0.568036  0.637604
15  0.546213  0.623962
16  0.527599  0.582444
17  0.522465  0.585409
18  0.531451  0.581257
19  0.523748  0.583037
20  0.415918  0.569988
21  0.518614  0.575326
22  0.523748  0.592527
23  0.518614  0.586595
24  0.515404  0.598458
25  0.518614  0.610913
26  0.512195  0.597272
27  0.506418  0.586002
28  0.510270  0.590154
29  0.508986  0.584223
30  0.509628  0.591934
31  0.497433  0.586595
32  0.496149  0.553381
33  0.485237  0.555160
34  0.481386  0.557533
35  0.472401  0.552788

In [109]:
russia_sip_people=get_people(result_id['Russia'])
for item in  result_id['Russia']:
    russia_sip_people[item]= russia_sip_people[item]/russia_sip_people[item].max()
russia_sip_people.columns = result_n['Russia']
russia_sip_people

    野村新興傘型基金之大俄羅斯基金
0          1.000000
1          0.978137
2          0.969582
3          0.933935
4          0.894011
5          0.860741
6          0.826046
7          0.812738
8          0.790399
9          0.729563
10         0.743821
11         0.742395
12         0.725285
13         0.702947
14         0.706749
15         0.706749
16         0.700570
17         0.703422
18         0.690589
19         0.694867
20         0.667300
21         0.683460
22         0.687738
23         0.673479
24         0.671578
25         0.674430
26         0.680608
27         0.681559
28         0.680608
29         0.678707
30         0.677281
31         0.671103
32         0.656369
33         0.668251
34         0.664449
35         0.693916

In [110]:
india_sip_people=get_people(result_id['India'])
for item in  result_id['India']:
    india_sip_people[item]= india_sip_people[item]/india_sip_people[item].max()
india_sip_people.columns = result_n['India']
india_sip_people

      台新印度基金  野村雙印傘型基金之印度潛力基金    元大印度基金
0   0.916955         0.993939  0.770758
1   0.916955         0.984416  0.762635
2   0.951557         0.971429  0.752708
3   0.968858         1.000000  0.908845
4   0.989619         0.979221  0.898917
5   0.986159         0.954113  0.878159
6   1.000000         0.974026  0.880866
7   0.955017         0.934199  0.865523
8   0.927336         0.895238  0.838448
9   0.927336         0.877056  0.690433
10  0.913495         0.874459  0.872744
11  0.896194         0.854545  0.833935
12  0.875433         0.837229  0.824007
13  0.865052         0.822511  0.811372
14  0.854671         0.826840  0.805957
15  0.847751         0.815584  0.825812
16  0.837370         0.815584  0.832130
17  0.816609         0.824242  0.816787
18  0.799308         0.830303  0.819495
19  0.782007         0.833766  0.833935
20  0.612457         0.814719  0.677798
21  0.778547         0.817316  0.837545
22  0.775087         0.844156  0.848375
23  0.761246         0.844156  0.818592
24  0.771626         0.853680  0.847473
25  0.761246         0.846753  0.852888
26  0.782007         0.873593  0.893502
27  0.785467         0.913420  0.924188
28  0.823529         0.957576  0.936823
29  0.854671         0.991342  0.978339
30  0.885813         0.990476  1.000000
31  0.913495         0.977489  0.991877
32  0.923875         0.965368  0.899819
33  0.951557         0.958442  0.798736
34  0.972318         0.966234  0.912455
35  0.948097         0.916017  0.895307

In [111]:
f = open('russia_people.json','w')
f.write(russia_sip_people.to_json(force_ascii=False))
f.close()

In [112]:
f = open('india_people.json','w')
f.write(india_sip_people.to_json(force_ascii=False))
f.close()

In [113]:
f = open('china_people.json','w')
f.write(china_sip_people.to_json(force_ascii=False))
f.close()

In [114]:
f = open('brazil_people.json','w')
f.write(brazil_sip_people.to_json(force_ascii=False))
f.close()

In [76]:
china_sip_money=get_moneys(result_id['China'])
for item in  result_id['China']:
    china_sip_money[item]= china_sip_money[item]/china_sip_money[item].max()
china_sip_money.columns = result_n['China']

In [77]:
brazil_sip_money=get_moneys(result_id['Brazil'])
for item in  result_id['Brazil']:
    brazil_sip_money[item]= brazil_sip_money[item]/brazil_sip_money[item].max()
brazil_sip_money.columns = result_n['Brazil']

In [78]:
russia_sip_money=get_moneys(result_id['Russia'])
for item in  result_id['Russia']:
    russia_sip_money[item]= russia_sip_money[item]/russia_sip_money[item].max()
russia_sip_money.columns = result_n['Russia']
# russia_sip_money

In [79]:
india_sip_money=get_moneys(result_id['India'])
for item in  result_id['India']:
    india_sip_money[item]= india_sip_money[item]/india_sip_money[item].max()
india_sip_money.columns = result_n['India']

In [36]:
df=get_funding(aliveDF)
df_china=df[result_id['China']]
df_china.columns = [result_n['China']]
df_china
print(df_china.to_json(force_ascii=False))
f = open('china.json','w')
f.write(df_china.to_json(force_ascii=False))
f.close()

{"["日盛中國內需動力基金"]":{"0":548,"1":567,"2":575,"3":568,"4":556,"5":545,"6":536,"7":533,"8":525,"9":494,"10":515,"11":511,"12":498,"13":488,"14":498,"15":493,"16":484,"17":487,"18":463,"19":437,"20":425,"21":415,"22":426,"23":420,"24":398,"25":404,"26":394,"27":396,"28":398,"29":408,"30":410,"31":410,"32":409,"33":392,"34":406,"35":395},"["野村中國機會基金"]":{"0":1540,"1":1558,"2":1503,"3":1505,"4":1436,"5":1406,"6":1386,"7":1365,"8":1365,"9":1290,"10":1285,"11":1259,"12":1243,"13":1231,"14":1233,"15":1244,"16":1235,"17":1233,"18":1219,"19":1220,"20":1216,"21":1215,"22":1223,"23":1199,"24":1201,"25":1222,"26":1259,"27":1288,"28":1343,"29":1423,"30":1557,"31":1657,"32":1685,"33":1746,"34":1794,"35":1811},"["第一金中國世紀基金-新臺幣"]":{"0":4285,"1":5539,"2":5556,"3":5523,"4":5377,"5":5200,"6":5233,"7":5188,"8":4886,"9":4139,"10":5181,"11":4698,"12":4622,"13":4598,"14":4557,"15":4614,"16":4635,"17":4633,"18":4521,"19":4423,"20":3845,"21":3896,"22":5240,"23":4301,"24":4269,"25":4285,"26":4155,"27":3982,"28":3937,"29":3721,"30":3613,"31":3456,"32":527,"33":494,"34":578,"35":493},"["復華中國新經濟A股基金-新臺幣"]":{"0":12,"1":431,"2":604,"3":643,"4":643,"5":662,"6":704,"7":726,"8":760,"9":770,"10":859,"11":890,"12":907,"13":918,"14":948,"15":998,"16":1053,"17":1067,"18":1081,"19":1107,"20":1063,"21":1085,"22":1259,"23":1296,"24":1436,"25":1875,"26":2428,"27":2804,"28":3175,"29":3475,"30":3810,"31":3963,"32":4741,"33":4886,"34":5274,"35":5406},"["德信中國精選成長基金"]":{"0":30,"1":31,"2":27,"3":26,"4":24,"5":22,"6":24,"7":24,"8":24,"9":27,"10":30,"11":30,"12":30,"13":31,"14":31,"15":30,"16":29,"17":30,"18":29,"19":27,"20":26,"21":31,"22":31,"23":31,"24":32,"25":32,"26":31,"27":31,"28":30,"29":29,"30":28,"31":29,"32":29,"33":29,"34":28,"35":28},"["安聯中國東協基金"]":{"0":1295,"1":1293,"2":1258,"3":1215,"4":964,"5":1233,"6":1245,"7":1216,"8":1192,"9":1162,"10":1155,"11":1132,"12":1110,"13":1099,"14":1091,"15":1096,"16":1107,"17":1108,"18":1098,"19":1093,"20":1075,"21":1070,"22":1083,"23":1070,"24":1065,"25":1063,"26":1096,"27":1111,"28":1112,"29":1127,"30":1134,"31":1139,"32":1157,"33":1194,"34":1251,"35":1225},"["摩根中國亮點基金"]":{"0":4013,"1":4164,"2":4126,"3":4066,"4":3917,"5":3867,"6":3844,"7":3800,"8":3708,"9":2330,"10":3646,"11":3495,"12":3473,"13":3405,"14":3351,"15":3370,"16":3324,"17":3292,"18":3260,"19":3220,"20":2031,"21":3159,"22":3185,"23":3075,"24":3066,"25":3060,"26":3070,"27":3073,"28":3114,"29":3178,"30":3228,"31":3217,"32":3223,"33":2144,"34":3315,"35":3257},"["安聯中國策略基金"]":{"0":560,"1":619,"2":652,"3":689,"4":589,"5":722,"6":712,"7":696,"8":689,"9":645,"10":630,"11":612,"12":590,"13":585,"14":588,"15":583,"16":588,"17":575,"18":579,"19":553,"20":552,"21":550,"22":544,"23":529,"24":523,"25":529,"26":540,"27":542,"28":544,"29":551,"30":566,"31":557,"32":582,"33":605,"34":827,"35":895},"["國泰中國內需增長基金台幣級別"]":{"0":3413,"1":3635,"2":3590,"3":3564,"4":3382,"5":3375,"6":3381,"7":3363,"8":3269,"9":3166,"10":3288,"11":3175,"12":3153,"13":3069,"14":3016,"15":3057,"16":3038,"17":2978,"18":2981,"19":2934,"20":2453,"21":2883,"22":2895,"23":2798,"24":2909,"25":3051,"26":3278,"27":3530,"28":3682,"29":4066,"30":4590,"31":4717,"32":5067,"33":5079,"34":5425,"35":5365},"["兆豐國際中國A股基金(台幣)"]":{"0":971,"1":998,"2":1016,"3":1006,"4":995,"5":991,"6":1000,"7":999,"8":978,"9":971,"10":966,"11":949,"12":938,"13":940,"14":933,"15":937,"16":936,"17":925,"18":935,"19":941,"20":921,"21":935,"22":937,"23":927,"24":929,"25":953,"26":989,"27":1016,"28":1065,"29":1116,"30":1178,"31":1222,"32":1252,"33":1315,"34":1353,"35":1394},"["群益中國新機會基金-新臺幣"]":{"0":2593,"1":3191,"2":3384,"3":3322,"4":2749,"5":3101,"6":3241,"7":3343,"8":3321,"9":2721,"10":3162,"11":3077,"12":2984,"13":2893,"14":2910,"15":2905,"16":2872,"17":2796,"18":2698,"19":2580,"20":2077,"21":2061,"22":2455,"23":2350,"24":2317,"25":2330,"26":2405,"27":2492,"28":2526,"29":2554,"30":2707,"31":2762,"32":2886,"33":2854,"34":2826,"35":2754},"["兆豐國際中國A股基金(美金)"]":{"0":15,"1":14,"2":12,"3":12,"4":11,"5":11,"6":11,"7":11,"8":9,"9":10,"10":9,"11":10,"12":10,"13":10,"14":10,"15":10,"16":10,"17":10,"18":10,"19":9,"20":9,"21":8,"22":9,"23":9,"24":9,"25":10,"26":11,"27":10,"28":11,"29":9,"30":11,"31":14,"32":16,"33":16,"34":19,"35":20},"["台新中國精選中小基金"]":{"0":176,"1":183,"2":179,"3":167,"4":170,"5":169,"6":176,"7":187,"8":183,"9":180,"10":181,"11":172,"12":167,"13":169,"14":167,"15":159,"16":162,"17":169,"18":166,"19":161,"20":159,"21":135,"22":162,"23":158,"24":160,"25":157,"26":154,"27":154,"28":156,"29":158,"30":159,"31":160,"32":161,"33":160,"34":160,"35":158}}

In [37]:
df_india=df[result_id['India']]
df_india.columns = [result_n['India']]
df_india
f = open('india.json','w')
f.write(df_india.to_json(force_ascii=False))
f.close()

In [39]:
df_russia=df[result_id['Russia']]
df_russia.columns = [result_n['Russia']]
df_russia
f = open('russia.json','w')
f.write(df_russia.to_json(force_ascii=False))
f.close()

In [38]:
df_brazil=df[result_id['Brazil']]
df_brazil.columns = [result_n['Brazil']]
f = open('brazil.json','w')
f.write(df_brazil.to_json(force_ascii=False))
f.close()

In [80]:
f = open('russia_percentage.json','w')
f.write(russia_sip_money.to_json(force_ascii=False))
f.close()

In [81]:
f = open('india_percentage.json','w')
f.write(india_sip_money.to_json(force_ascii=False))
f.close()

In [82]:
f = open('brazil_percentage.json','w')
f.write(brazil_sip_money.to_json(force_ascii=False))
f.close()

In [83]:
f = open('china_percentage.json','w')
f.write(china_sip_money.to_json(force_ascii=False))
f.close()

In [ ]:
pd.set_option('display.max_rows', None)
df2 = pd.read_html("https://www.moneydj.com/funddj/yb/YP302000.djhtm?a=ET003001")
df3 = pd.read_html("https://www.moneydj.com/funddj/yb/yp302000.djhtm?a=ET003002")
df4 = pd.read_html("https://www.moneydj.com/funddj/yb/yp302000.djhtm?a=ET003003")
dfFinal = pd.concat([df2[4], df3[4], df4[4]], axis=0)
dfFinal

In [ ]:
for name in newAliveList:
    filterName = (dfFinal["基金名稱"]["基金名稱"] == name)
    try:
        print(dfFinal[filterName]["報酬率(%)"]["六個月"].values[0])
    except:
        print(name)